In [1]:
import csv
import pandas as pd
import re
import requests
import os
from unidecode import unidecode
from datetime import datetime

In [2]:
os.getcwd()

'/Users/finneganlaister-smith/Downloads/DEV ENVIRONMENT/data-science-jupyter-template-main'

# Ingesting data

## reading CSVs

In [3]:
countrycodes = pd.read_csv('/Users/finneganlaister-smith/Downloads/DEV ENVIRONMENT/data-science-jupyter-template-main/countries_and_codes.csv')
salaries = pd.read_csv("capology_league_data_checking.csv")

values = pd.read_csv("2nd_newly_combined_transfermarkt_league_data_checking.csv")

## CLeaning CSVs

In [4]:
from difflib import SequenceMatcher
def get_best_match(query, choices):
    return max(choices, key=lambda choice: SequenceMatcher(None, query, choice).ratio())


# Function to remove accents
def remove_accents(text):
    return unidecode(text)

def get_country_code(country):
    matching_rows = countrycodes.loc[countrycodes['Country'] == country, ' Code']
    return matching_rows.iloc[0] if not matching_rows.empty else None
# Apply the function to create Player IDs in the salaries DataFrame

In [6]:

values.at[40579, 'Nationality'] = 'Turkey'
for i in range(0, len(values)):
    string = values.at[i, 'Nationality']
    if string.endswith('"'):
        #print(string[:-1])
        values.at[i, 'Nationality'] = string[:-1]

In [7]:
data = {'Country': ['British Virgin Islands'], ' Code': ['BVI'], 'Accents Removed': ['British Virgin Islands']}

one_row_dataframe = pd.DataFrame(data)
countrycodes = pd.concat([countrycodes, one_row_dataframe], ignore_index=True)

data = {'Country': ['North Ireland'], ' Code': ['NIR'], 'Accents Removed': ['North Ireland']}

one_row_dataframe = pd.DataFrame(data)
countrycodes = pd.concat([countrycodes, one_row_dataframe], ignore_index=True)

# Add a new column 'Accents Removed'
countrycodes['Accents Removed'] = countrycodes['Country'].apply(remove_accents)
countrycodes.at[48, 'Country'] = 'China, PR'#[countrycodes['Country'] == 'China_PR']

# ADDING TO CSVs

## ADD COUNTRY CODES TO SALARIES & VALUES

### SALARIES

In [8]:



salaries['Team 1 Code'] = salaries['Nationality'].apply(get_country_code)

values['Team 1 Code'] = values['Nationality'].apply(get_country_code)

In [9]:
salaries['Nationality'].value_counts().head(10)
salaries['Team 1 Code'].value_counts().head(10)

Team 1 Code
ES    5140
FR    5057
TR    4455
IT    4428
NL    4392
DE    3788
PT    3600
BR    3428
EN    2938
AR    1330
Name: count, dtype: int64

In [10]:
notfoundset = []
for i in range(0, len(salaries)):
    if(pd.isna(salaries.at[i, 'Nationality'])):
        0==0
    else:
        this_country = salaries.at[i, 'Nationality']

        if(this_country.endswith('U-20')):
            this_country = this_country.split(' U-20')[0]

        if(this_country == 'Czech Republic'):
            this_country = 'Czech'

        if(this_country == 'Bosnia-Herzegovina'):
            this_country = 'Bosnia'
        
        if(this_country == 'Bosnia and Herzegovina'):
            this_country = 'Bosnia'

        if(this_country == 'Brunei Darussalam'):
            this_country = 'Brunei'
        
        if(this_country == 'China'):
            this_country = 'China PR'
        
        if(this_country == 'Curacao'):
            this_country = 'Curaçao'
        
        if(this_country == 'Democratic Republic of Congo'):
            this_country = 'Congo DR'
        
        if(this_country == 'Democratic Republic of the Congo'):
            this_country = 'Congo DR'
        
        if(this_country == 'Denamrk'):
            this_country = 'Denmark'
        
        if(this_country == 'Holland'):
            this_country = 'Netherlands'
        
        if(this_country == 'Holland '):
            this_country = 'Netherlands'
        
        if(this_country == 'Macao'):
            this_country = 'Macau'
        
        if(this_country == 'Macedonia'):
            this_country = 'North Macedonia'

        if(this_country == 'Neukaledonien'):
            this_country = 'New Caledonia'
        
        if(this_country == 'Northern Ireland'):
            this_country = 'North. Ireland'

        if(this_country == 'Palästina'):
            this_country = 'Palestine'
        
        if(this_country == 'Sao Tome and Principe'):
            this_country = 'Sao Tome'
        
        if(this_country == 'St. Kitts & Nevis'):
            this_country = 'Saint Kitts and Nevis'
        
        if(this_country == 'St. Lucia'):
            this_country = 'Saint Lucia'
        
        if(this_country == 'United States'):
            this_country = 'USA'
        

        code_df = countrycodes[countrycodes['Country'] == this_country].reset_index()
        if(len(code_df) == 0):
            #print(f"{this_country} not found")
            notfoundset.append(this_country)
        elif(len(code_df) == 1):
            0==0
            #salaries.at[i, 'Team 1 Code'] = code_df.at[0, ' Code']

set(notfoundset)

set()

### VALUES

In [11]:
values['Nationality'].value_counts().head(10)

Nationality
Spain          5594
Turkey         4938
France         4883
Italy          4869
Netherlands    4499
Germany        3885
Portugal       3676
Brazil         3469
England        3331
Argentina      1338
Name: count, dtype: int64

In [12]:
values['Team 1 Code'].value_counts().head(10)

Team 1 Code
ES    5594
TR    4938
FR    4883
IT    4869
NL    4499
DE    3885
PT    3676
BR    3469
EN    3331
AR    1338
Name: count, dtype: int64

In [13]:
notfoundset = []
for i in range(0, len(values)):
    this_country = values.at[i, 'Nationality']

    if(this_country.endswith('U-20')):
        this_country = this_country.split(' U-20')[0]

    if(this_country == 'Czech Republic'):
        this_country = 'Czech'

    if(this_country == 'Bosnia-Herzegovina'):
        this_country = 'Bosnia'
    
    if(this_country == 'Brunei Darussalam'):
        this_country = 'Brunei'
    
    if(this_country == 'China'):
        this_country = 'China PR'
    
    if(this_country == 'Curacao'):
        this_country = 'Curaçao'
    
    if(this_country == 'Korea, North'):
        this_country = 'North Korea'
    
    if(this_country == 'Korea, South'):
        this_country = 'South Korea'
    
    if(this_country == 'Macao'):
        this_country = 'Macau'
    
    if(this_country == 'Neukaledonien'):
        this_country = 'New Caledonia'
    
    if(this_country == 'Neukaledonien'):
        this_country = 'New Caledonia'
    
    if(this_country == 'Northern Ireland'):
        this_country = 'North. Ireland'
    
    if(this_country == 'Saint-Martin'):
        this_country = 'St. Martin'
    
    if(this_country == 'Sao Tome and Principe'):
        this_country = 'Sao Tome'
    
    if(this_country == 'St. Kitts &amp; Nevis'):
        this_country = 'Saint Kitts and Nevis'
    
    if(this_country == 'St. Lucia'):
        this_country = 'Saint Lucia'
    
    if(this_country == 'United States'):
        this_country = 'USA'

    

    code_df = countrycodes[countrycodes['Country'] == this_country].reset_index()
    if(len(code_df) == 0):
        #print(f"{this_country} not found")
        notfoundset.append(this_country)
    elif(len(code_df) == 1):
        0==0
        #values.at[i, 'Team 1 Code'] = code_df.at[0, ' Code']

set(notfoundset)

set()

# PLAYER ID SYSTEM

## Editing values

In [14]:
examine_list = [32934, 33060, 33163, 33240, 33307, 33311, 33421, 33450, 33467, 33569, 33762, 33864, 33877, 33959, 33968, 34001, 34066, 34257, 34295, 34408, 34509, 34522, 34523, 34859, 35289, 35641, 36442, 37074, 37620, 39818, 40579, 40598, 41287, 41521, 45925]

In [15]:
values.loc[examine_list].head(5)

,Name,Age (that year),Nationality,Position,Market Value,Season,League,Team,Team 1 Code
32934,Julian Schieber,N/A (25),Germany,Centre-Forward,€2.50m,2013,Bundesliga,Dortmund,DE
33060,Thorben Marx,N/A (33),Germany,Defensive Midfield,€600k,2013,Bundesliga,M'Gladbach,DE
33163,Tobias Weis,N/A (28),Germany,Central Midfield,€750k,2013,Bundesliga,Hoffenheim,DE
33240,Marcel Ndjeng,N/A (32),Cameroon,Right Midfield,€750k,2013,Bundesliga,Hertha BSC,CM
33307,Martin Lanig,N/A (29),Germany,Defensive Midfield,€750k,2013,Bundesliga,Eint Frankfurt,DE

In [16]:
agenum = int(values.at[32934, 'Age (that year)'].split('(')[1].split(')')[0])
agestr = values.at[32934, 'Age (that year)'].split('(')[1].split(')')[0]
#values.at[32934, 'Age (that year)'] = 
f"Jan 1st, {values.at[32934, 'Season'] - agenum} ({agestr})"

'Jan 1st, 1988 (25)'

In [17]:
values.at[53652, 'Age (that year)'] = 'Jan 1, 2002 (20)'
#values.at[54348, 'Age (that year)'] = 'Jan 1, 1993 (20)'
values.at[60885, 'Age (that year)'] = 'Dec 10, 1996 (20)'

values['Birthday'] = pd.to_datetime('')  # Initialize with a placeholder datetime
values['Age'] = 0  # Initialize with a placeholder age

# Loop through the DataFrame and update 'Birthday' and 'Age' columns
#for index, row in values.iterrows():
for i in range(0, len(values)):
    # Extract the birthday component
    if('N/A' in values.at[i, 'Age (that year)'].split('(')[0]):
        agenum = int(values.at[i, 'Age (that year)'].split('(')[1].split(')')[0])
        agestr = values.at[i, 'Age (that year)'].split('(')[1].split(')')[0]
        
        values.at[i, 'Age (that year)'] = f"Jan 1st, {values.at[i, 'Season'] - agenum} ({agestr})"

    birthday = pd.to_datetime(values.at[i,'Age (that year)'].split('(')[0], errors='coerce')
    
    # Extract the age component
    age_str = values.at[i,'Age (that year)'].split('(')[1].split(')')[0].replace('†', '')
    
    # Convert age string to integer
    age = int(age_str)
    
    # Update the corresponding rows in the new columns
    values.at[i, 'Birthday'] = birthday
    values.at[i, 'Age'] = age

# Drop the original 'Age (that year)' column
values = values.drop(columns=['Age (that year)'])

In [18]:

# Convert 'Birthday' column to string
values['Birthday'] = pd.to_datetime(values['Birthday']).dt.strftime('%b %d, %Y')

# Create a new column for the player ID
values['PlayerID'] = values['Name'] + '_' + values['Birthday'] + '_' + values['Nationality']

In [19]:
values['PlayerID'].value_counts()

PlayerID
M'Baye Niang_Dec 19, 1994_Senegal            16
Riccardo Saponara_Dec 21, 1991_Italy         16
Marco van Ginkel_Dec 01, 1992_Netherlands    15
Mario Lemina_Sep 01, 1993_Gabon              15
Tolga Ciğerci_Mar 23, 1992_Turkey            15
                                             ..
Andrés Andrade_Oct 16, 1998_Panama            1
Guilherme Ramos_Aug 11, 1997_Portugal         1
Luca Wollschläger_Feb 08, 2003_Germany        1
Dong-jun Lee_Feb 01, 1997_Korea, South        1
Carlos Parente_Aug 10, 2002_Brazil            1
Name: count, Length: 19074, dtype: int64

In [20]:
players_without_id = values[values['PlayerID'].isnull() | (values['PlayerID'] == '')]

# Display players without an ID
(players_without_id)

Empty DataFrame
Columns: [Name, Nationality, Position, Market Value, Season, League, Team, Team 1 Code, Birthday, Age, PlayerID]
Index: []

In [21]:
values['Accents Removed'] = values['Name'].apply(lambda x: unidecode(x))

## Editing Salary Data

In [22]:
salaries['PlayerID'] = '0'

In [23]:
for i in range(0, len(salaries)):
    if salaries.at[i, 'Season'] == 2103:
        salaries.at[i, 'Season'] = 2013

In [24]:
for i in range(len(salaries)):
    salaries.loc[i, 'Age'] += 1

## ADDING PLAYER IDs TO SALARY DATA

In [25]:
#no ID df looped with I
#salaries DF looped with index 
for i in range(0, len(salaries)):
#for i in range(1000, len(salaries)):
#for i in range(29912, len(salaries)):
    if((pd.isna(salaries.at[i, 'Name'])) | (salaries.at[i, 'Name'] == 'AC MilanAjaxArsenalAtletico MadridBarcelonaBayern MunichBenficaBorussia DortmundCelticChelseaFlamengoInter MilanJuventusLiverpoolManchester CityManchester UnitedNapoliPalmeirasPortoPSGReal MadridRomaSevillaSporting LisbonTottenham') | (salaries.at[i, 'Name'] == 'FINANCES') | (salaries.at[i, 'Name'] == 'Clubs') | (salaries.at[i, 'Name'] == 'Leagues') | (salaries.at[i, 'Name'] == '1.Bundesliga1.HNL2.BundesligaAustrian BundesligaAllsvenskanBesta Deild KarlaBrasileiroCategoria Primera AChampionshipEkstraklasaEliteserienEredivisieFirst Division ALa LigaLa Liga 2League OneLeague TwoLigue 1Ligue 2Luxembourg National DivisionNational LeagueNational League NorthNational League SouthPremier LeaguePrimeira LigaPrimera DivsionScottish PremiershipRussian Premier LigaSerie ASerie BSuper League GreeceSuper LigSuperligaenSwiss Super LeagueVeikkausliiga')): 
        0==0
    else:

        this_name = salaries.at[i, 'Name']
        this_natl = salaries.at[i, 'Nationality']

        filtered_id_list = values[(values['Name'] == this_name) & (values['Nationality'] == this_natl)]['PlayerID'].unique()
        if(len(filtered_id_list) == 1):
            salaries.at[i, 'PlayerID'] = filtered_id_list[0]

        elif(len(filtered_id_list) == 0):
            filtered_id_list_noaccents = values[(values['Accents Removed'] == this_name) & (values['Nationality'] == this_natl)]['PlayerID'].unique()

            if(len(filtered_id_list_noaccents) == 1):
                salaries.at[i, 'PlayerID'] = filtered_id_list_noaccents[0]

            else:
                name_accents_removed = unidecode(this_name)
                filtered_id_list_noaccents = values[(values['Accents Removed'] == name_accents_removed) & (values['Nationality'] == this_natl)]['PlayerID'].unique()

                if(len(filtered_id_list_noaccents) == 1):
                    salaries.at[i, 'PlayerID'] = filtered_id_list_noaccents[0]

                else:
                    
                    a2016namelist = values[values['Season'] == (salaries.at[i, 'Season'])]['Name'].unique()
                    matches_that_yr = get_best_match(name_accents_removed, a2016namelist)
                    
                    if(type(matches_that_yr) != str):
                        
                        #it's not a str what's happening 
                        print(this_name, matches_that_yr)
                    else:
                        filtered_id_list_match = values[(values['Name'] == matches_that_yr)]['PlayerID'].unique()

                        if(len(filtered_id_list_match) == 1):
                            salaries.at[i, 'PlayerID'] = filtered_id_list_match[0]
                            #print(filtered_id_list_match[0] + ' closest match filter')

                        elif(len(filtered_id_list_match) >= 2):

                            filter_by_natl_again = values[(values['Name'] == matches_that_yr) & (values['Nationality'] == this_natl)]['PlayerID'].unique()
                            
                            if(len(filter_by_natl_again) == 1):
                                salaries.at[i, 'PlayerID'] = filter_by_natl_again[0] 
                                print(filter_by_natl_again[0] + ' nationality filter')
                        
                        else:
                            print(f'didnt work with {i} {this_name}')

André Silva_Jun 03, 1997_Brazil nationality filter
Henrique_Oct 19, 1986_Portugal nationality filter
Paulo Henrique_Oct 23, 1996_Portugal nationality filter
Semedo_Jan 11, 1985_Portugal nationality filter
Semedo_Jan 11, 1985_Portugal nationality filter
Semedo_Jan 11, 1985_Portugal nationality filter
Paulo Henrique_Oct 23, 1996_Portugal nationality filter
Diogo Silva_May 13, 1993_Portugal nationality filter
Diogo Silva_May 13, 1993_Portugal nationality filter
Diogo Silva_May 13, 1993_Portugal nationality filter
João Gomes_Apr 29, 1997_Portugal nationality filter
Cristian Rodríguez_Mar 15, 1996_Spain nationality filter

In [26]:
no_ID_DF = salaries[salaries['PlayerID'] == '0'].reset_index()

In [27]:
num_falses = 0
falses_indexes_salaries = []
falses_indexes_noID_DF = []
notfound_names = []
notfound_teams = []
notfound_seasons = []

for i in range(0, len(no_ID_DF)):
#for i in range(500, 600):

    correct_player_ID = 0
    return_case = 'none'
    player_found = False
    correctIndex = 0
    name = no_ID_DF.at[i, 'Name']
    if((pd.isna(no_ID_DF.at[i, 'Name'])) | (no_ID_DF.at[i, 'Name'] == 'AC MilanAjaxArsenalAtletico MadridBarcelonaBayern MunichBenficaBorussia DortmundCelticChelseaFlamengoInter MilanJuventusLiverpoolManchester CityManchester UnitedNapoliPalmeirasPortoPSGReal MadridRomaSevillaSporting LisbonTottenham') | (no_ID_DF.at[i, 'Name'] == 'FINANCES') | (no_ID_DF.at[i, 'Name'] == 'Clubs') | (no_ID_DF.at[i, 'Name'] == 'Leagues') | (no_ID_DF.at[i, 'Name'] == '1.Bundesliga1.HNL2.BundesligaAustrian BundesligaAllsvenskanBesta Deild KarlaBrasileiroCategoria Primera AChampionshipEkstraklasaEliteserienEredivisieFirst Division ALa LigaLa Liga 2League OneLeague TwoLigue 1Ligue 2Luxembourg National DivisionNational LeagueNational League NorthNational League SouthPremier LeaguePrimeira LigaPrimera DivsionScottish PremiershipRussian Premier LigaSerie ASerie BSuper League GreeceSuper LigSuperligaenSwiss Super LeagueVeikkausliiga')): 
        0==0
    else:

        country = no_ID_DF.at[i, 'Nationality']
        season = no_ID_DF.at[i, 'Season']

        index = no_ID_DF.at[i, 'index']

        correct_salaries_row = salaries[(salaries['Name'] == name) & (salaries['Nationality'] == country) & (salaries['Season'] == season)].loc[[index]]

        club = correct_salaries_row.at[index, 'Club']

        values_name_match_rows = values[(values['Name'] == name) & (values['Nationality'] == country) & (values['Season'] == season)].reset_index()
        
        for k in range(0, len(values_name_match_rows)):
            club_values_row = values_name_match_rows.at[k, 'Team']
            if(club == 'Paris Saint-Germain'):
                club = 'Paris S-G'
            if(club == 'Gaziantep BB'):
                club = 'Gaziantepspor'
            if(club == 'Karagumrukspor'):
                club = 'Fatih Karagümrük'
            if(club == 'Yeni Malatyaspor'):
                club = 'Yeni Mal\'spor'
            if(club == 'Monchengladbach'):
                club = 'M\'Gladbach'
            if(club == 'Eintracht Frankfurt'):
                club = 'Eint Frankfurt'
            if(club == 'Hertha Berlin'):
                club = 'Hertha BSC'
            if(club == 'Sporting Lisbon'):
                club = "Sporting CP"
            if(club == 'Vitoria SC'):
                club = "Vitória"
            if(club == 'Estrela Amadora'):
                club = "Estrela"
            if(club == 'Marítimo'):
                club = 'Marítimo'
            if(club == 'Manchester United'):
                club = 'Manchester Utd'
            if(club == 'Nottingham Forest'):
                club = 'Nott\'ham Forest'
            if(club == 'Wolverhampton'):
                club = 'Wolves'
            if(club == 'Deportivo'):
                club = 'La Coruña'
            if(club == 'Sporting Gijon'):
                club = 'Sporting Gijón'
            if((club_values_row == club) | (remove_accents(club_values_row) == club) | (club in remove_accents(club_values_row))):
                if(salaries.at[index, 'Age'] == values_name_match_rows.at[k, 'Age']):

                    
                    correctIndex = values_name_match_rows.at[k, 'index']
                    
                    player_found = True

                    return_case = 'First pass, One matching value row'
                    correct_player_ID = values.at[correctIndex, 'PlayerID']
                    ###ADDED PLAYER ID HERE
                    salaries.at[index, 'PlayerID'] = correct_player_ID
                    
                    
                elif(salaries.at[index, 'Age'] == (values_name_match_rows.at[k, 'Age'] + 1)):
                    #HANDLE AGE -1 CASE HERE IN SALARIES
                    #salaries.at[index, 'Age'] = salaries.at[index, 'Age'] - 1
                    correctIndex = values_name_match_rows.at[k, 'index']
                    player_found = True
                    ###ADDED PLAYER ID HERE
                    return_case = 'One matching value row, age +1 discrepancy'
                    correct_player_ID = values.at[correctIndex, 'PlayerID']
                    salaries.at[index, 'PlayerID'] = correct_player_ID

                else:
                    if((i == 1643) & (name == 'Manu García')):
                        correctIndex = 27673
                        player_found = True
                        correct_player_ID = values.at[correctIndex, 'PlayerID']
                        ###ADDED PLAYER ID HERE
                        salaries.at[index, 'PlayerID'] = correct_player_ID
                    else:
                        #print('hi', i, index, 'x', name, club, f"value index is{values_name_match_rows.at[k, 'index']}", club_values_row, f'diff ages. same club. age in salaries = {salaries.at[index, 'Age']}, age in values = {values_name_match_rows.at[k, 'Age']}')
                        player_found = False
        
        if(len(values_name_match_rows) == 0):
            #print('...' + name + ' no results initial pass')
            
            notfound = False
            num_index = 0 #i
            index_SAVE = 0
            while((notfound == False) and (num_index < 61134)):
                
                if(name == remove_accents(values.at[num_index, 'Name'])):
                    
                    index_SAVE = num_index
                    notfound = True
                num_index += 1
            
            values_name_match_rows_new_accents = values[(values['Name'] == values.at[index_SAVE, 'Name']) & (values['Nationality'] == country) & (values['Season'] == season)].reset_index()

            for j in range(0, len(values_name_match_rows_new_accents)):
                club_values_row = values_name_match_rows_new_accents.at[j, 'Team']
                if((club_values_row == club) | (remove_accents(club_values_row) == club) | (club in remove_accents(club_values_row))):
                    if(salaries.at[index, 'Age'] == values_name_match_rows_new_accents.at[j, 'Age']):
        
                        correctIndex = values_name_match_rows_new_accents.at[j, 'index']
                       
                        player_found = True

                        return_case = 'Had to remove accents, now One matching value row'
                        correct_player_ID = values.at[correctIndex, 'PlayerID']
                        ###ADDED PLAYER ID HERE
                        salaries.at[index, 'PlayerID'] = correct_player_ID
                        
                    elif(salaries.at[index, 'Age'] == (values_name_match_rows_new_accents.at[j, 'Age'] + 1)):
                        #HANDLE AGE -1 CASE  
                        
                        #salaries.at[index, 'Age'] = salaries.at[index, 'Age'] - 1
                        
                        correctIndex = values_name_match_rows_new_accents.at[j, 'index']
                        player_found = True
                        #salaries.at[index, 'Player ID'] = values.at[correctIndex, 'Player ID']
                        return_case = 'Had to remove accents, now One matching value row age discrep'
                        correct_player_ID = values.at[correctIndex, 'PlayerID']
                        ###ADDED PLAYER ID HERE
                        salaries.at[index, 'PlayerID'] = correct_player_ID
                    else:
                        print('x', 'accent case', name, club, club_values_row, f'diff ages. same club. age in salaries = {salaries.at[index, 'Age']}, age in values = {values_name_match_rows_new_accents.at[j, 'Age']}')
                        player_found = False
        elif(len(values_name_match_rows) == 1):
            #there's one matching row. 
            
            #print("✓", name + ' matching with values finished with 1 result')
            player_found = True
            return_case = 'One row of values matched the salary data'
            correctIndex = values_name_match_rows.at[0, 'index']
            correct_player_ID = values.at[correctIndex, 'PlayerID']
        else:
            0==0
            
        if(player_found == True):
            0==0
            if(correct_player_ID == 0):
                print("0 matches found", name, f"values index found = {correctIndex}", f"salaries index = {index}", f"no ID DF index = {i}")
            #print("✓", index, name, f'found (values index: {correctIndex}')
        else:

            dataset_no_club_no_name = values[(values['Nationality'] == country) & (values['Season'] == season)].reset_index()
            for m in range(0, len(dataset_no_club_no_name)):
                #when you get to marquinhos, does this need to be changed to CLUB instead of club_values_row in the IF statement?
                #believe it does
                club_values_row = dataset_no_club_no_name.at[m, 'Team']
                if(club_values_row) == 'Mersin İY':
                    club_values_row = 'Mersin Id'
                if(club_values_row) == 'Paris Saint-Germain':
                    club_values_row = 'Paris S-G'
                if(club_values_row) == 'Gaziantep BB':
                    club_values_row = 'Gaziantepspor'
                if((club_values_row == club) | (remove_accents(club_values_row) == club) | (club in remove_accents(club_values_row)) | (remove_accents(club_values_row) in club)):
                    name_match_club_row = dataset_no_club_no_name.at[m, 'Name']
                    
                    tokens_name = name.split()
                    tokens_name_match_club_row = name_match_club_row.split()
                    no_accents_tokens_name_match_club_row = remove_accents(name_match_club_row).split()
                    
                    if((name == name_match_club_row) | ((tokens_name[-1] == tokens_name_match_club_row[-1]) & (len(tokens_name[-1]) >= 3) & (len(tokens_name_match_club_row[-1]) >= 3)) | (all(token in no_accents_tokens_name_match_club_row for token in tokens_name)) | (all(token in tokens_name_match_club_row for token in tokens_name)) | (name == remove_accents(name_match_club_row)) | (name == remove_accents(name_match_club_row)) | (name in remove_accents(name_match_club_row)) | (name in name_match_club_row) | (name_match_club_row in name) | (name == "Sergio" and name_match_club_row == "Serginho")):
                            correctIndex = dataset_no_club_no_name.at[m, 'index']
                            #salaries.at[index, 'Player ID'] = values.at[correctIndex, 'Player ID']
                            
                            name_match_salaries = (name_match_club_row)

                            dataset_correct_names = values[(values['Nationality'] == country) & (values['Name'] == name_match_salaries) & (values['Season'] == season)]#['Name'].unique()

            if(len(dataset_correct_names['Name'].unique()) == 1):
                
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
                if((return_case == 'First pass, One matching value row') | (return_case == 'One matching value row, age +1 discrepancy') | (return_case == 'Had to remove accents, now One matching value row') | (return_case == 'Had to remove accents, now One matching value row age discrep') | (return_case == 'One row of values matched the salary data')):
                    0==0
                else:
                    if((i == 329) & (name == 'Lucas Rocha')):
                        correctIndex = 55136
                        player_found = True
                        correct_player_ID = values.at[correctIndex, 'PlayerID']
                        ###ADDED PLAYER ID HERE
                        salaries.at[index, 'PlayerID'] = correct_player_ID
                    if((name == 'Gabriel') and (club in ['Juventus', 'Leganes', 'Benfica'])):
                        
                        if(season == 2021):
                            correctIndex = 58288
                            player_found = True
                            correct_player_ID = values.at[correctIndex, 'PlayerID']
                            ###ADDED PLAYER ID HERE
                            salaries.at[index, 'PlayerID'] = correct_player_ID
                        elif(season == 2018):
                            correctIndex = 57016
                            player_found = True
                            correct_player_ID = values.at[correctIndex, 'PlayerID']
                            ###ADDED PLAYER ID HERE
                            salaries.at[index, 'PlayerID'] = correct_player_ID
                        elif(season == 2016):
                            correctIndex = 27931
                            player_found = True
                            correct_player_ID = values.at[correctIndex, 'PlayerID']
                            ###ADDED PLAYER ID HERE
                            salaries.at[index, 'PlayerID'] = correct_player_ID
                        else:
                            print(name, club, season)                     
                    else:
                        return_case = 'Using everything but name, found 1 matching row'
                
            else:
                0==0

            if(player_found == True):
                0==0
            else:
                print('!!!', index, name, f'not found. names remaining = {(dataset_correct_names['Name'].unique())}')
                num_falses += 1
        if(correctIndex == 0):
            player_found = False
            if((i == 109) & (name == 'André')):
                player_found = True
                correctIndex = 44778
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 139) & (name == 'Yusuf Erdogan')):
                correctIndex = 45594
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 157) & (name == 'Emre Pehlivan')):
                correctIndex = 44850
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 224) & (name == 'Arthur')):
                correctIndex = 39112
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 262) & (name == 'Luiz Henrique')):
                correctIndex = 58086
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 275) & (name == 'Gustavo Moura')):
                correctIndex = 57385
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 305) & (name == 'Nathan')):
                correctIndex = 59516
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 330) & (name == 'Lucas Rocha')):
                correctIndex = 55136
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 821) & (name == 'João Mendes')):
                correctIndex = 58607
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID'] 
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 857) & (name == 'Ewerton')):
                correctIndex = 58688
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID'] 
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 861) & (name == 'Otávio')):
                correctIndex = 55878
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID'] 
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 871) & (name == 'Danny Loader')):
                correctIndex = 59511
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID'] 
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 915) & (name == 'Sérginho')):
                correctIndex = 59935
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID'] 
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 925) & (name == 'João Pedro')):
                correctIndex = 55050
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 931) & (name == 'Jójó')):
                correctIndex = 59412
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 944) & (name == 'Benny')):
                correctIndex = 56785
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 978) & (name == 'Pedro Marques')):
                correctIndex = 53510
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 983) & (name == 'Danilo')):
                correctIndex = 50537
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((name == 'Felipe') & (club == 'Spal')):
                if(season == 2019):
                    correctIndex = 22398
                    player_found = True
                    correct_player_ID = values.at[correctIndex, 'PlayerID']
                    ###ADDED PLAYER ID HERE
                    salaries.at[index, 'PlayerID'] = correct_player_ID
                elif(season == 2018):
                    correctIndex = 21201
                    player_found = True
                    correct_player_ID = values.at[correctIndex, 'PlayerID']
                    ###ADDED PLAYER ID HERE
                    salaries.at[index, 'PlayerID'] = correct_player_ID
                elif(season == 2017):
                    correctIndex = 20322
                    player_found = True
                    correct_player_ID = values.at[correctIndex, 'PlayerID']
                    ###ADDED PLAYER ID HERE
                    salaries.at[index, 'PlayerID'] = correct_player_ID
                else:
                    0==0
            elif((i == 987) & (name == 'Gabriel Barbosa')):
                correctIndex = 20353
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 1154) & (name == 'Arthur')):
                correctIndex = 7149
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 1171) & (name == 'Dodô')):
                correctIndex = 22201
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 1222) & (name == 'Joel Pereira')):
                correctIndex = 4036
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID'] 
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 1226) & (name == 'Joel Pereira')):
                correctIndex = 2505
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID'] 
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 1227) & (name == 'Joel Pereira')):
                correctIndex = 4036
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID'] 
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 1328) & (name == 'Mohammadou Samad')):
                correctIndex = 10209
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 1469) & (name == 'Rafinha')):
                correctIndex = 25757
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 1481) & (name == 'Bebé')):
                correctIndex = 32023
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 1481) & (name == 'Bebé')):
                correctIndex = 32023
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 1482) & (name == 'Bebé')):
                correctIndex = 29119
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 1495) & (name == 'Bebé')):
                correctIndex = 27324
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 1721) & (name == 'Bebé')):
                correctIndex = 29119
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 1725) & (name == 'Bebé')):
                correctIndex = 28352
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            elif((i == 1643) & (name == 'Manu Garcia')):
                correctIndex = 27673
                player_found = True
                correct_player_ID = values.at[correctIndex, 'PlayerID']
                ###ADDED PLAYER ID HERE
                salaries.at[index, 'PlayerID'] = correct_player_ID
            else:
                #print('here we are')
                matches = 0
                for z in range(0, len(values)):
                    name_row = values.at[z, 'Name']
                    if(remove_accents(name_row) == name):
                        matches += 1
                if((matches == 0) & (len(values[values['Name'] == name]) == 0)):
                    if((i == 400) & (name == 'Leonardo')):
                        correctIndex = 57586
                        player_found = True
                        correct_player_ID = values.at[correctIndex, 'PlayerID']
                        ###ADDED PLAYER ID HERE
                        salaries.at[index, 'PlayerID'] = correct_player_ID
                    elif((i == 570) & (name == 'Denílson')):
                        correctIndex = 59496
                        player_found = True
                        correct_player_ID = values.at[correctIndex, 'PlayerID']
                        ###ADDED PLAYER ID HERE
                        salaries.at[index, 'PlayerID'] = correct_player_ID
                    elif((club == 'Famalicao') & (name == 'Denílson')):
                            correctIndex = 59735
                            player_found = True
                            correct_player_ID = values.at[correctIndex, 'PlayerID']
                            ###ADDED PLAYER ID HERE
                            salaries.at[index, 'PlayerID'] = correct_player_ID
                    elif((club == 'Benfica') & (name == 'Éverton')):
                            if(season == 2020):
                                correctIndex = 58294
                                player_found = True
                                correct_player_ID = values.at[correctIndex, 'PlayerID']
                                ###ADDED PLAYER ID HERE
                                salaries.at[index, 'PlayerID'] = correct_player_ID
                            elif(season == 2021):
                                correctIndex = 58880
                                player_found = True
                                correct_player_ID = values.at[correctIndex, 'PlayerID']
                                ###ADDED PLAYER ID HERE
                                salaries.at[index, 'PlayerID'] = correct_player_ID
                            else:
                                0==0
                    elif((i == 1665) & (name == 'Luciano Neves')):
                        correctIndex = 27947
                        player_found = True
                        correct_player_ID = values.at[correctIndex, 'PlayerID']
                        ###ADDED PLAYER ID HERE
                        salaries.at[index, 'PlayerID'] = correct_player_ID
                    else:
                        print("0 matches found", name, index, i)
                        num_falses += 1
                        falses_indexes_salaries.append(index)
                        falses_indexes_noID_DF.append(z)
                        notfound_names.append(name)
                        notfound_teams.append(club)
                        notfound_seasons.append(season)
                else:
                    if((i == 395) & (name == 'Felipe')):
                        print("0 matches found", name, index, i)
                        num_falses += 1
                        falses_indexes_salaries.append(index)
                        falses_indexes_noID_DF.append(z)
                        notfound_names.append(name)
                        notfound_teams.append(club)
                        notfound_seasons.append(season)
                    elif((i == 504) & (name == 'Kiko')):
                        correctIndex = 56869
                        player_found = True
                        correct_player_ID = values.at[correctIndex, 'PlayerID']
                        ###ADDED PLAYER ID HERE
                        salaries.at[index, 'PlayerID'] = correct_player_ID
                    elif((i == 782) & (name == 'Ricardo Ferreira')):
                        correctIndex = 55977
                        player_found = True
                        correct_player_ID = values.at[correctIndex, 'PlayerID'] 
                        ###ADDED PLAYER ID HERE
                        salaries.at[index, 'PlayerID'] = correct_player_ID
                    elif((i == 807) & (name == 'Ricardo Ferreira')):
                        correctIndex = 55376
                        player_found = True
                        correct_player_ID = values.at[correctIndex, 'PlayerID'] 
                        ###ADDED PLAYER ID HERE
                        salaries.at[index, 'PlayerID'] = correct_player_ID
                    elif((i == 530) & (name == 'Otávio')):
                        correctIndex = 55681
                        player_found = True
                        correct_player_ID = values.at[correctIndex, 'PlayerID']
                        ###ADDED PLAYER ID HERE
                        salaries.at[index, 'PlayerID'] = correct_player_ID
                    elif((i == 537) & (name == 'Otávio')):
                        correctIndex = 54908
                        player_found = True
                        correct_player_ID = values.at[correctIndex, 'PlayerID']
                        ###ADDED PLAYER ID HERE
                        salaries.at[index, 'PlayerID'] = correct_player_ID
                    elif((i == 606) & (name == 'Ricardo Ferreira')):
                        correctIndex = 54966
                        player_found = True
                        correct_player_ID = values.at[correctIndex, 'PlayerID']
                        ###ADDED PLAYER ID HERE
                        salaries.at[index, 'PlayerID'] = correct_player_ID
                    else:
                        if((name == 'Jorginho') & (club == "Famalicao")):
                            correctIndex = 58491
                            player_found = True
                            correct_player_ID = values.at[correctIndex, 'PlayerID']
                            ###ADDED PLAYER ID HERE
                            salaries.at[index, 'PlayerID'] = correct_player_ID
                        elif((club == 'Famalicao') & (name == 'Gabriel Souza')):
                            correctIndex = 57763
                            player_found = True
                            correct_player_ID = values.at[correctIndex, 'PlayerID']
                            ###ADDED PLAYER ID HERE
                            salaries.at[index, 'PlayerID'] = correct_player_ID
                        elif((club == 'Benfica') & (name == 'Hildeberto')):
                            correctIndex = 57430
                            player_found = True
                            correct_player_ID = values.at[correctIndex, 'PlayerID'] 
                            ###ADDED PLAYER ID HERE
                            salaries.at[index, 'PlayerID'] = correct_player_ID
                        elif((i == 1668) & (name == 'Álex López')):
                            correctIndex = 26366
                            player_found = True
                            correct_player_ID = values.at[correctIndex, 'PlayerID'] 
                            ###ADDED PLAYER ID HERE
                            salaries.at[index, 'PlayerID'] = correct_player_ID
                        elif((i == 1712) & (name == 'Pablo Pérez')):
                            correctIndex = 27290
                            player_found = True
                            correct_player_ID = values.at[correctIndex, 'PlayerID']
                            ###ADDED PLAYER ID HERE
                            salaries.at[index, 'PlayerID'] = correct_player_ID
                        elif((i == 1777) & (name == 'Óscar Gil')):
                            correctIndex = 28559
                            player_found = True
                            correct_player_ID = values.at[correctIndex, 'PlayerID']
                            ###ADDED PLAYER ID HERE
                            salaries.at[index, 'PlayerID'] = correct_player_ID
                        elif((club == 'Braga') & (name == 'Eduardo')):
                            if(season >= 2021):
                                correctIndex = 58331
                                player_found = True
                                correct_player_ID = values.at[correctIndex, 'PlayerID']
                                ###ADDED PLAYER ID HERE
                                salaries.at[index, 'PlayerID'] = correct_player_ID
                            else:
                                print('Eduardo Braga issue', season)

                        else:
                            print('something to investigate', i, index, name)

            
        else:
            0==0
            
            
        if(i == 251):
            correctIndex = 55303
            correct_player_ID = values.at[correctIndex, 'PlayerID']
            player_found = True
            ###ADDED PLAYER ID HERE
            salaries.at[index, 'PlayerID'] = correct_player_ID
        elif(i == 280):
            correctIndex = 55068
            correct_player_ID = values.at[correctIndex, 'PlayerID']
            player_found = True
            ###ADDED PLAYER ID HERE
            salaries.at[index, 'PlayerID'] = correct_player_ID
        elif((name == 'João Pedro') & (no_ID_DF.at[i, 'Nationality'] == 'Brazil') & (no_ID_DF.at[i, 'Club'] == 'Cagliari')):
            filter_df_jp = values[(values['Name'] == 'João Pedro') & (values['Team'] == 'Cagliari') & (values['Season'] == no_ID_DF.at[i, 'Season'])].reset_index()
            correctIndex = filter_df_jp.at[0, 'index']
            correct_player_ID = values.at[correctIndex, 'PlayerID']
            player_found = True
            ###ADDED PLAYER ID HERE
            salaries.at[index, 'PlayerID'] = correct_player_ID
        if((i == 251) | (i == 279) | (i == 280)):
            print(name, correct_player_ID, index, correctIndex)

    #GET IT TO OUTPUT THE PLAYER ID AND VALUES PLAYER ID NAME OR SOMETHING 
name, return_case, i, index, correctIndex, f"player_found == {player_found}", f"num_falses total = {num_falses}"

    #ERRORS FOUND 

######0 - 500 errors
#61 Osman Pasa Zorlu BROKEN
#395 Felipe BROKEN
#407 Carlos Garcés BROKEN
#413 Davis BROKEN
#424 Mauro Riquicho BROKEN
#437 Mauro Riquicho BROKEN
######500 - 600 errors
#548 Victor Ferreira BROKEN
#581 Getulio BROKEN
######600 - 700 errors
# 612 Jefferson Kibe BROKEN
# 614 Erivaldo BROKEN
# 688 Martim Almeida BROKEN
######700 - 800 errors
# 759 Peixinho BROKEN
# 762 Ricardinho BROKEN 
# 783 Danilo BROKEN
# 795 Oto'o BROKEN
######800 - 900 errors
# 811 Oto'o BROKEN
# 851 Mouhamed Mbaye BROKEN
######900 to 1000
# BROKEN Cauê 914
# 960 Paul Wienhoven BROKEN 
# Mart Bekhuis 976 BROKEN
######1600 to 1700
# Gabriel 1664 BROKEN
# Pedro Martín 1669 BROKEN

0 matches found Osman Pasa Zorlu 2244 61
João Pedro Jonathan Silva_Jun 29, 1994_Argentina 13900 55303
João Pedro João Pedro_May 04, 1986_Portugal 14270 55016
João Pedro Pedro Costa_Nov 21, 1981_Portugal 14271 55068
0 matches found Felipe 15452 395
0 matches found Carlos Garcés 15537 407
0 matches found Davis 15580 413
0 matches found Mauro Riquicho 15704 424
0 matches found Mauro Riquicho 15803 437
0 matches found Victor Ferreira 16722 548
0 matches found Getulio 16924 581
0 matches found Jefferson Kibe 17211 612
0 matches found Erivaldo 17232 614
0 matches found Martim Almeida 18063 688
0 matches found Peixinho 18635 759
something to investigate 762 18639 Ricardinho
something to investigate 783 18813 Danilo
0 matches found Oto'o 18944 795
0 matches found Oto'o 19077 811
0 matches found Mouhamed Mbaye 19553 851
0 matches found Cauê 20139 914
0 matches found Paul Wienhoven 20695 960
0 matches found Mart Bekhuis 25546 976
something to investigate 1091 31596 João Pedro
something to investigate 1096 31705 João Pedro
something to investigate 1102 31858 João Pedro
something to investigate 1104 31926 João Pedro
something to investigate 1664 54539 Gabriel
0 matches found Pedro Martín 54594 1669

('Héctor Hernández',
 'One row of values matched the salary data',
 1797,
 57351,
 27016,
 'player_found == True',
 'num_falses total = 19')

In [28]:
no_ID_DF_secondround = salaries[salaries['PlayerID'] == '0'].reset_index()
no_ID_DF_secondround

,index,Name,Weekly Salary,Yearly Salary,Inflation-Adjusted Yearly Salary,Position,Age,Nationality,Season,Bonus Money,Club,League,Team 1 Code,PlayerID
0,3823,Gökhan Akkan,6538,340000,585850,K,26.0,Turkey,2020.0,0,Caykur Rizespor,Turkish Süper Lig,TR,0
1,3858,Gökhan Akkan,6538,340000,340000,K,28.0,Turkey,2021.0,0,Caykur Rizespor,Turkish Süper Lig,TR,0
2,3897,Gökhan Akkan,4615,240000,494581,K,26.0,Turkey,2019.0,0,Caykur Rizespor,Turkish Süper Lig,TR,0
3,3934,Gökhan Akkan,1731,90000,279018,K,22.0,Turkey,2016.0,0,Caykur Rizespor,Turkish Süper Lig,TR,0
4,4053,Gökhan Akkan,6538,340000,340000,K,29.0,Turkey,2023.0,0,Caykur Rizespor,Turkish Süper Lig,TR,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,54580,Sergio Arribas,385,20000,22808,F,21.0,Spain,2016.0,0,Celta Vigo,Spanish Liga Santander,ES,0
153,54759,Gabriel,23269,1210000,1357157,M,24.0,Brazil,2017.0,0,Celta Vigo,Spanish Liga Santander,BR,0
154,54800,Sergio Arribas,385,20000,22432,F,22.0,Spain,2017.0,0,Celta Vigo,Spanish Liga Santander,ES,0
155,55613,Gabriel,23269,1210000,1357157,M,25.0,Brazil,2017.0,0,Leganes,Spanish Liga Santander,BR,0
156,56950,Allan,NaN,NaN,NaN,M,23.0,Brazil,2013.0,0,Granada,Spanish Liga Santander,BR,0

In [132]:
#for i in range(0, len(no_ID_DF_secondround)):
#for i in range(0, 21):
#for i in range(21, 50):
#for i in range(50, 70):
#for i in range(70, 113):
#for i in range(113, 128):
#for i in range(128, 129):
#for i in range(133, 140):
for i in range(150, 157):

    this_name = no_ID_DF_secondround.at[i, 'Name']
    this_club_correct = no_ID_DF_secondround.at[i, 'Club']
    if((this_name == 'João Victor') & (this_club_correct == 'Wolfsburg')):
        this_name = 'Victor Sá'
    elif((this_name == 'Felipe') & (this_club_correct == 'Hannover')):
        this_name = 'Felipe Trevizan'
    elif((this_name == 'Henrique') & (this_club_correct == 'Portimonense')):
        this_name = 'Henrique Gelain'
    
    elif((this_name == 'Henrique') & (this_club_correct == 'Lyon')):
        this_name = 'Henrique Silva'
        
    correctIndex = no_ID_DF_secondround.at[i, 'index']
    df_name_subset = values[(values['Name'] == this_name) & (values['Season'] == no_ID_DF_secondround.at[i, 'Season'])].reset_index()
    if(len(df_name_subset) == 1):
        correctage = no_ID_DF_secondround.at[i, 'Age']
        row_age = df_name_subset.at[0, 'Age']

        if correctage == row_age or correctage + 1 == row_age or row_age + 1 == correctage:
            club_noID_DF = no_ID_DF_secondround.at[i, 'Club']
            subset_club = df_name_subset.at[0, 'Team']
            if((subset_club in club_noID_DF) | (subset_club == club_noID_DF) | (club_noID_DF in subset_club) | (remove_accents(subset_club) in club_noID_DF)):
                print(this_name, 'working')
                this_id = df_name_subset.at[0, 'PlayerID']
                salaries.at[correctIndex, 'PlayerID'] = this_id
        else:
            print(i, this_name, df_name_subset.at[0, 'Team'], no_ID_DF_secondround.at[i, 'Club'])
            df_name_subset_noseason = values[(values['Name'] == this_name)].reset_index()

            if((this_name == 'Nuno Santos') & (i == 15)):
                correct_player_ID = "Nuno Santos_Mar 02, 1999_Portugal"
                salaries.at[correctIndex, 'PlayerID'] = correct_player_ID
                print(this_name, 'working')
            if((this_name == 'Rafa') & (this_club_correct != 'Vitória')):
                correct_player_ID = "Rafa_May 17, 1993_Portugal"
                salaries.at[correctIndex, 'PlayerID'] = correct_player_ID
                print(this_name, 'working')
            
            if((this_name == 'Gabriel') & (i == 56)):
                correct_player_ID = "Gabriel Pires_Sep 18, 1993_Brazil"
                salaries.at[correctIndex, 'PlayerID'] = correct_player_ID
                print(this_name, 'working')

            if((this_name == 'André Sousa') & (i == 67)):
                correct_player_ID = "André Sousa_Jul 09, 1990_Portugal"
                salaries.at[correctIndex, 'PlayerID'] = correct_player_ID
                print(this_name, 'working')
            
            if((this_name == 'Arthur') & (i == 123)):
                correct_player_ID = "Arthur Melo_Aug 12, 1996_Brazil"
                salaries.at[correctIndex, 'PlayerID'] = correct_player_ID
                print(this_name, 'working')

            if((this_name == 'Arthur') & (i == 124)):
                correct_player_ID = "Arthur Melo_Aug 12, 1996_Brazil"
                salaries.at[correctIndex, 'PlayerID'] = correct_player_ID
                print(this_name, 'working')

            if((this_name == 'Gabriel') & (i == 127)):
                correct_player_ID = "Gabriel Silva_May 13, 1991_Brazil"
                salaries.at[correctIndex, 'PlayerID'] = correct_player_ID
                print(this_name, 'working')

            if((this_name == 'Abdoulaye Diallo') & (i == 131)):
                correct_player_ID = "Gabriel Silva_May 13, 1991_Brazil"
                salaries.at[correctIndex, 'PlayerID'] = correct_player_ID
                print(this_name, 'working')

            if((this_name == 'Gabriel') & (i == 153)):
                correct_player_ID = "Gabriel Pires_Sep 18, 1993_Brazil"
                salaries.at[correctIndex, 'PlayerID'] = correct_player_ID
                print(this_name, 'working')
            if((this_name == 'Gabriel') & (i == 155)):
                correct_player_ID = "Gabriel Pires_Sep 18, 1993_Brazil"
                salaries.at[correctIndex, 'PlayerID'] = correct_player_ID
                print(this_name, 'working')

    else:
        #print(i, this_name)
        correctclub = no_ID_DF_secondround.at[i, 'Club']
        for j in range(0, len(df_name_subset)):
            this_club_row = df_name_subset.at[j, 'Team']
            if((this_club_row in correctclub) | (this_club_row == correctclub)):
                #print(this_club_row, correctclub)
                club_filtered_df = df_name_subset[df_name_subset['Team'] == this_club_row].reset_index()
                if(len(club_filtered_df['PlayerID'].unique()) >= 2):
                    print('more than 1 player ID here')
                elif(len(club_filtered_df['PlayerID'].unique()) == 1):
                    print('1 match', this_name, i)
                    correct_player_ID = club_filtered_df.at[0, 'PlayerID']
                    salaries.at[correctIndex, 'PlayerID'] = correct_player_ID
                else:
                    print('0 matching rows where clubs were the same', i, this_name)


#not working
#nuno santos 15
#fernando 20
#alex 51
#2 gabriels 58-59
#3 Toños 137-139
#140, 142, 145 rodri (not mc)

150 Rodri Manchester City Real Betis
151 Lucas Silva Moreirense Real Madrid

### Manual adds

In [151]:
salaries.at[45814, 'PlayerID'] = "Gabriel Silva_May 13, 1991_Brazil"

salaries.at[45843, 'PlayerID'] = "Gabriel Silva_May 13, 1991_Brazil"

salaries.at[45886, 'PlayerID'] = "Gabriel Silva_May 13, 1991_Brazil"

salaries.at[45959, 'PlayerID'] = "Gabriel Silva_May 13, 1991_Brazil"

salaries.at[46040, 'PlayerID'] = "Abdoulaye Diallo_Mar 30, 1992_Senegal"

salaries.at[50607, 'PlayerID'] = "Arthur Melo_Aug 12, 1996_Brazil"

salaries.at[54759, 'PlayerID'] = "Gabriel Pires_Sep 18, 1993_Brazil"

salaries.at[55613, 'PlayerID'] = "Gabriel Pires_Sep 18, 1993_Brazil"

salaries.at[46040, 'PlayerID'] = "Abdoulaye Diallo_Mar 30, 1992_Senegal"

salaries.at[18138, 'PlayerID'] = "Gabriel Pires_Sep 18, 1993_Brazil"

salaries.at[33402, 'PlayerID'] = "Gabriel Pires_Sep 18, 1993_Brazil"

salaries.at[44289, 'PlayerID'] = "Diego Rigonato_Mar 09, 1988_Brazil"

salaries.at[50629, 'PlayerID'] = "André Gomes_Jul 30, 1993_Portugal"

## SAVE DATA TO CSVs

In [153]:
salaries.to_csv('latestcapology_data_IDs_added.csv', index=False)

In [155]:
values.to_csv('latest_transfermarkt_data_IDs_added.csv', index=False)

### Cross check indexes ii

In [133]:
no_ID_DF_secondround.loc[[156]]

,index,Name,Weekly Salary,Yearly Salary,Inflation-Adjusted Yearly Salary,Position,Age,Nationality,Season,Bonus Money,Club,League,Team 1 Code,PlayerID
156,56950,Allan,NaN,NaN,NaN,M,23.0,Brazil,2013.0,0,Granada,Spanish Liga Santander,BR,0

In [108]:
df_name_subset

,index,Name,Nationality,Position,Market Value,Season,League,Team,Team 1 Code,Birthday,Age,PlayerID,Accents Removed
0,31858,Luiz Henrique,Brazil,Right Winger,€15.00m,2022,La Liga,Betis,BR,"Jan 02, 2001",22,"Luiz Henrique_Jan 02, 2001_Brazil",Luiz Henrique

In [104]:
salaries.loc[[correctIndex]]

,Name,Weekly Salary,Yearly Salary,Inflation-Adjusted Yearly Salary,Position,Age,Nationality,Season,Bonus Money,Club,League,Team 1 Code,PlayerID
53131,Rodri,1538,80000,86712,F,21.0,Spain,2020.0,0,Real Betis,Spanish Liga Santander,ES,0

In [128]:
#df_name_subset_noseason         
values[values['Name'] == 'Gabriel']

,Name,Nationality,Position,Market Value,Season,League,Team,Team 1 Code,Birthday,Age,PlayerID,Accents Removed
16396,Gabriel,Brazil,Goalkeeper,€1.50m,2013,Serie A,Milan,BR,"Sep 27, 1992",21,"Gabriel_Sep 27, 1992_Brazil",Gabriel
17506,Gabriel,Brazil,Goalkeeper,€2.80m,2014,Serie A,Milan,BR,"Sep 27, 1992",22,"Gabriel_Sep 27, 1992_Brazil",Gabriel
18011,Gabriel,Brazil,Goalkeeper,€2.50m,2015,Serie A,Napoli,BR,"Sep 27, 1992",23,"Gabriel_Sep 27, 1992_Brazil",Gabriel
18998,Gabriel,Brazil,Goalkeeper,€1.40m,2016,Serie A,Milan,BR,"Sep 27, 1992",24,"Gabriel_Sep 27, 1992_Brazil",Gabriel
19215,Gabriel,Brazil,Goalkeeper,€1.40m,2016,Serie A,Cagliari,BR,"Sep 27, 1992",24,"Gabriel_Sep 27, 1992_Brazil",Gabriel
19856,Gabriel,Brazil,Goalkeeper,€1.50m,2017,Serie A,Milan,BR,"Sep 27, 1992",25,"Gabriel_Sep 27, 1992_Brazil",Gabriel
22306,Gabriel,Brazil,Goalkeeper,€800k,2019,Serie A,Lecce,BR,"Sep 27, 1992",27,"Gabriel_Sep 27, 1992_Brazil",Gabriel
58654,Gabriel,Brazil,Attacking Midfield,-,2020,Portuguese First Division,Boavista,BR,"Mar 22, 2004",17,"Gabriel_Mar 22, 2004_Brazil",Gabriel

### Cross checking indexes

In [ ]:
salaries.loc[[index]]

In [ ]:
values.loc[[correctIndex]]

### Random debug

In [ ]:
salaries[(salaries['Name'] == name) & (salaries['Nationality'] == country) & (salaries['Season'] == season)].loc[[index]]

In [ ]:
#values_name_match_rows
#values_name_match_rows_new_accents

#dataset_no_club_no_name[(dataset_no_club_no_name['Team'] == club)]
values[(values['Name'] == name)] 
#dataset_correct_names
#name_match_club_row
#values[(values['Team'] == club) & (values['Season'] == season)] #had (values['Season'] == season) also
#values[(values['League'] == 'Portuguese First Division') & (values['Season'] == 2020)]['Team'].value_counts()

In [ ]:
#values_name_match_rows_new_accents
#values_name_match_rows#[values_name_match_rows['Team'] == 'Penafiel']#name_match_salaries
#dataset_correct_names
#dataset_correct_names_clubs_filter = dataset_correct_names[dataset_correct_names['Team'] == club]
#dataset_correct_names_clubs_filter
#values.at[correctIndex, 'Name']
#dataset_correct_names

In [ ]:
for m in range(0, len(dataset_no_club_no_name)):
    club_values_row = dataset_no_club_no_name.at[m, 'Team']
    if(club_values_row) == 'Mersin İY':
        club_values_row = 'Mersin Id'
    if((club_values_row == club) | (remove_accents(club_values_row) == club) | (club in remove_accents(club_values_row)) | (remove_accents(club_values_row) in club)):
        name_match_club_row = dataset_no_club_no_name.at[m, 'Name']
        
        tokens_name = name.split()
        tokens_name_match_club_row = name_match_club_row.split()
        no_accents_tokens_name_match_club_row = remove_accents(name_match_club_row).split()
        #print(m, (name_match_club_row))
        if((name == name_match_club_row) | ((tokens_name[-1] == tokens_name_match_club_row[-1]) & (len(tokens_name[-1]) >= 3) & (len(tokens_name_match_club_row[-1]) >= 3)) | (all(token in no_accents_tokens_name_match_club_row for token in tokens_name)) | (all(token in tokens_name_match_club_row for token in tokens_name)) | (name == remove_accents(name_match_club_row)) | (name == remove_accents(name_match_club_row)) | (name in remove_accents(name_match_club_row)) | (name in name_match_club_row) | (name_match_club_row in name) | (name == "Sergio" and name_match_club_row == "Serginho")):
                correctIndex = dataset_no_club_no_name.at[m, 'index']
                print(name, name_match_club_row)
                name_match_salaries = (name_match_club_row)

                dataset_correct_names = values[(values['Nationality'] == country) & (values['Name'] == name_match_salaries) & (values['Season'] == season)]#['Name'].unique()

#### Random searches intro

In [ ]:
salaries[(salaries['Name'] == 'Leandrinho') ]

In [ ]:
values[(values['Name'] == 'Leandrinho') ]

In [ ]:
values[(values['Name'] == 'Vinícius') ]#& (values['Season'] == 2017)

In [ ]:
salaries[(salaries['Name'] == 'Vinícius') ]#& (salaries['Season'] == 2017)

### DEBUGGING

In [ ]:
(salaries.iloc[29908, :])
#salaries.at[29912, 'Name']

In [ ]:
a2016namelist = values[values['Season'] == (salaries.at[23, 'Season'])]['Name'].unique()

In [ ]:
matches_that_yr_test = get_best_match(name_accents_removed, a2016namelist)

In [ ]:
values[(values['Name'] == matches_that_yr_test)]['PlayerID'].unique()

In [ ]:
values[(values['Team'] == 'Karabükspor') & (values['Season'] == 2013)]