In [1]:
import os
import csv
from countries_languages import country_to_language

import pandas as pd
from difflib import get_close_matches
import numpy as np
import re
from transliterate import translit
from unidecode import unidecode
import Levenshtein
import requests
import bs4
from bs4 import BeautifulSoup 
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import urllib.parse
from datetime import datetime

from urllib.parse import urlsplit

import wikipediaapi

import wikipedia

from urllib.parse import urlparse

import difflib

from datetime import datetime

import calendar

from selenium import webdriver
from selenium.webdriver.chrome.options import Options

import AssemblyHelpers
#from AssemblyHelpers import find_money_info_from_name

/Users/finneganlaister-smith/Downloads/DEV ENVIRONMENT/data-science-jupyter-template-main/footy_project_market_value_rankings/create_dataset_1/AssemblyHelpers.py:54: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(file_path)

# LOADING DATASETS

In [2]:
def remove_accents(text):
    return unidecode(text)


def get_country_code(country):
    matching_rows = countries_codes.loc[countries_codes['Country'] == country, ' Code']
    return matching_rows.iloc[0] if not matching_rows.empty else None

In [ ]:
#USING TERRELLS DATASET
# leagues_value = pd.read_csv('/Users/finneganlaister-smith/Downloads/DEV ENVIRONMENT/data-science-jupyter-template-main/Fixed TransferMarkt Market Values - MarketValues.csv')
# leagues_value['Accents Removed'] = leagues_value['Name'].apply(lambda x: unidecode(x))
# leagues_value['Team 1 Code'] = leagues_value['Nationality'].apply(get_country_code)
# leagues_value.to_csv("Most Updated Edited Transfermarkt Dataset.csv", index=False)

In [3]:
#PLAYER DATA - MARKET VALUE AND SALARY
leagues_salary = pd.read_csv('/Users/finneganlaister-smith/Downloads/DEV ENVIRONMENT/data-science-jupyter-template-main/footy_project_market_value_rankings/create_dataset_1/latest_capology_data_money_fixed.csv')

leagues_value = pd.read_csv('/Users/finneganlaister-smith/Downloads/DEV ENVIRONMENT/data-science-jupyter-template-main/footy_project_market_value_rankings/create_dataset_1/Most Updated Edited Transfermarkt Dataset.csv')


leagues_value_large = pd.read_csv('/Users/finneganlaister-smith/Downloads/DEV ENVIRONMENT/data-science-jupyter-template-main/footy_project_market_value_rankings/create_dataset_1/most_updated_transfermarkt_dataset.csv')

#COUNTRY CODES
countries_codes = pd.read_csv('/Users/finneganlaister-smith/Downloads/DEV ENVIRONMENT/data-science-jupyter-template-main/footy_project_market_value_rankings/create_dataset_1/countries_and_codes.csv')

#FIFA RANKINGS
fifa_rankings = pd.read_csv('/Users/finneganlaister-smith/Downloads/DEV ENVIRONMENT/data-science-jupyter-template-main/footy_project_market_value_rankings/create_dataset_1/fifa_ranking-2023-10-26 - fifa_ranking-2023-07-20.csv')

#MATCH DATA - LINEUPS AND RESULTS
lineups_data = pd.read_csv('/Users/finneganlaister-smith/Downloads/DEV ENVIRONMENT/data-science-jupyter-template-main/footy_project_market_value_rankings/create_dataset_1/newest_lineups_data_march_24.csv')
results_data = pd.read_csv('/Users/finneganlaister-smith/Downloads/DEV ENVIRONMENT/data-science-jupyter-template-main/footy_project_market_value_rankings/create_dataset_1/newest_results_data_march_24.csv')

/var/folders/vw/z2xv57_n70l_szw_fr80j5km0000gn/T/ipykernel_83106/1138293197.py:7: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  leagues_value_large = pd.read_csv('/Users/finneganlaister-smith/Downloads/DEV ENVIRONMENT/data-science-jupyter-template-main/footy_project_market_value_rankings/create_dataset_1/most_updated_transfermarkt_dataset.csv')

GETTING NULL NAMES - SALARIES & VALUES

In [4]:
nullnames_salaries = pd.read_csv('/Users/finneganlaister-smith/Downloads/DEV ENVIRONMENT/data-science-jupyter-template-main/footy_project_market_value_rankings/create_dataset_1/nullnames_salaries.csv')
nullnames_values = pd.read_csv('/Users/finneganlaister-smith/Downloads/DEV ENVIRONMENT/data-science-jupyter-template-main/footy_project_market_value_rankings/create_dataset_1/nullnames_values.csv')
# nullnames_salaries = AssemblyHelpers.get_names_with_conditions_salary(leagues_salary) #result_names_null

# nullnames_values = AssemblyHelpers.get_names_with_conditions_values(leagues_value) #result_names_null_values

In [ ]:
#SCRATCH 
# Assuming result_names_null_values and result_names_null are lists of data
# result_names_null_values = pd.DataFrame(result_names_null_values)
# result_names_null = pd.DataFrame(result_names_null)

# # Now you can save them as CSVs
# result_names_null_values.to_csv("MarketValues_null_names.csv", index=False)
# result_names_null.to_csv("Salaries_null_names.csv", index=False)

# nullnames_salaries = load_csv_dataset('/Users/finneganlaister-smith/Downloads/DEV ENVIRONMENT/data-science-jupyter-template-main/Salaries_null_names.csv')
# nullnames_salaries = list(nullnames_salaries['Name'])

# nullnames_values = load_csv_dataset('/Users/finneganlaister-smith/Downloads/DEV ENVIRONMENT/data-science-jupyter-template-main/MarketValues_null_names.csv')
# nullnames_values = list(nullnames_values['Name'])

# Helper Methods

### new version of find $ info from player with extra logic added

In [5]:
#HELPER METHODS
##SELENIUM WRAPPER FUNCTION 

def useSeleniumToFindMoney(
        NAME_TO_FIND, #the name it is looking up
        NATIONALITY_INPUT_PLAYER, #natl_test
        DATE_INPUT_MATCH, #input_year_test
        SALARY_BOOLEAN):
    if(SALARY_BOOLEAN == False):
        print('finding salary with selenium')
        marketvalue = AssemblyHelpers.seleniumLookUpValueWrapperFunction(NAME_TO_FIND, NATIONALITY_INPUT_PLAYER, DATE_INPUT_MATCH)
        return marketvalue
    elif(SALARY_BOOLEAN == True):
        salary = AssemblyHelpers.capology_selenium_lookup(NAME_TO_FIND, NATIONALITY_INPUT_PLAYER, DATE_INPUT_MATCH)
        return salary

    else:
        return 0



#MATCH DATE FILTER 
def filter_using_date_of_match(candidate_list_of_names_input, nationality_input, matchdate_Input, SALARY_BOOLEAN): 

    FILTERED_NAMES_USING_MATCH_DATE = AssemblyHelpers.multiNameMatchDateLookup(candidate_list_of_names_input, nationality_input, matchdate_Input) 

    print('in fudom', type(FILTERED_NAMES_USING_MATCH_DATE))
    #1 MATCH
    if isinstance(FILTERED_NAMES_USING_MATCH_DATE, str) or isinstance(FILTERED_NAMES_USING_MATCH_DATE, np.str_): #YELLOW 3
        #print('were in fudom in the right place')
        #NAME_FOR_SELENIUM_SEARCH = FILTERED_NAMES_USING_MATCH_DATE
        # MONEY_FOUND_ONLINE = useSeleniumToFindMoney(NAME_FOR_SELENIUM_SEARCH, nationality_input, matchdate_Input, SALARY_BOOLEAN)
        # print('made it out of using selenium')
        # money_thisplayer = [MONEY_FOUND_ONLINE, f'Online WAS Lookup Required - salary boolean is {SALARY_BOOLEAN}', True, False]
        money_thisplayer = [0, 'Lookup Required', True, False]
        return money_thisplayer
    #MULTIPLE MATCHES
    elif(len(FILTERED_NAMES_USING_MATCH_DATE) >= 2):
        print(FILTERED_NAMES_USING_MATCH_DATE, type(FILTERED_NAMES_USING_MATCH_DATE), type(FILTERED_NAMES_USING_MATCH_DATE) == str)
        money_thisplayer = [0, F'FILTERING USING MATCH DATE LEFT MULTIPLE RESULTS: {FILTERED_NAMES_USING_MATCH_DATE}', True, False]
        return money_thisplayer
    #0 MATCHES
    elif(len(FILTERED_NAMES_USING_MATCH_DATE) == 0):
        money_thisplayer = [0, F'FILTERING USING MATCH DATE LEFT 0 RESULTS. BEFORE FILTERING, CANDIDATE NAMES WERE {candidate_list_of_names_input}', True, False]
        return money_thisplayer



#FINDING MONEY INFO USSING PLAYER NAME
def tryToFindPlayerMoney(
        DATABASE_RETURN_MESSAGE, #what the DB said when trying to find money info
        NAME_TO_FIND, #the name it found in the DB (name_match[0] originally)
        NATIONALITY_INPUT_PLAYER, #natl_test
        DATE_INPUT_MATCH, #input_year_test
        SALARY_BOOLEAN, #IF TRUE, SALARIES. OTHERWISE VALUES
        ORIGINAL_SEARCH_NAME #name_match[2]
        ):

    if((DATABASE_RETURN_MESSAGE == "not in DB any of 3 seasons.") or (DATABASE_RETURN_MESSAGE == "asswipe was in DB in before or after season")):
        print('newwwnewnenwenewnwenwenwew', DATABASE_RETURN_MESSAGE)
        
        if DATABASE_RETURN_MESSAGE == 'asswipe was in DB in before or after season':
            money_thisplayer = [0, 'Was in  DB before or after season', True, True]
            return money_thisplayer

        
        
        

        INTERNET_LOOKUP_RESULTING_NAMES = AssemblyHelpers.false_name_match_lookup(ORIGINAL_SEARCH_NAME, NATIONALITY_INPUT_PLAYER)
        NUM_NAMES_REMAINING = len(list(INTERNET_LOOKUP_RESULTING_NAMES))
        print(INTERNET_LOOKUP_RESULTING_NAMES)
        #1 MATCH
        if(NUM_NAMES_REMAINING == 1):
            #FIND INFO USING SELENIUM
            # NAME_FOR_SELENIUM_SEARCH = next(iter(INTERNET_LOOKUP_RESULTING_NAMES))
            # MONEY_FOUND_ONLINE = useSeleniumToFindMoney(NAME_FOR_SELENIUM_SEARCH, NATIONALITY_INPUT_PLAYER, DATE_INPUT_MATCH, SALARY_BOOLEAN)
            # money_thisplayer = [MONEY_FOUND_ONLINE, f'Online WAS Lookup Required - salary boolean is {SALARY_BOOLEAN}', True, False]
            money_thisplayer = [0, 'Lookup Required', True, False]
            return money_thisplayer
        #MULTIPLE MATCHES
        elif(NUM_NAMES_REMAINING >= 2):
            print('goes to FUDOM')
            #FILTER THE NAMES USING THE DATE OF THE MATCH
            list_to_filter_with_match_date = list(INTERNET_LOOKUP_RESULTING_NAMES)
            #NEW FUNCTION 3 
            money_thisplayer = filter_using_date_of_match(list_to_filter_with_match_date, NATIONALITY_INPUT_PLAYER, DATE_INPUT_MATCH, SALARY_BOOLEAN) 
            return money_thisplayer
        #0 MATCHES
        elif(NUM_NAMES_REMAINING == 0):
            #This is return case 9
            money_thisplayer = [0, 'Online Lookup Required', True, False] 
            return money_thisplayer
    
    else:
        money_thisplayer = [0, 'Online Lookup Required', True, False]
        return money_thisplayer
    


    #old
    # elif(DATABASE_RETURN_MESSAGE == "was in DB in before or after season"):
    #     0==0
    

##OVERARCHING Controller FUNCTION 
def new_overarching(starter_number, name_input, nationality_input, date_input, salary_boolean, competition_input):
    """
    Inputs: Name, Date, Nationality, Salary Boolean 
        salary_boolean
            true – salary
            false – Market Value

    Outputs: Money_thisplayer, name_match
    Outputs to add: error, error type, error msg
    """

    #SETTING INITIAL VALUES
    example_problem = name_input
    natl_test = nationality_input
    input_year_test = date_input

    corrrect_code = countries_codes[countries_codes['Country'] == natl_test][' Code'].unique()[0]

    if salary_boolean == True:
        0==0
        #dataset_nationality = leagues_salary[leagues_salary['Team 1 Code'] == corrrect_code]['Name'].unique()
    else:
        dataset_nationality = leagues_value[leagues_value['Team 1 Code'] == corrrect_code]['Name'].unique()

    money_thisplayer = [0, 'not done yet', True, False]
    secondmatch_required = False

    #FIRST TRY LOOKING FOR NAME
    name_match = AssemblyHelpers.lookup_name(example_problem, natl_test, input_year_test, salary_boolean, competition_input)
    
    match_case = name_match[1]
    original_db_name_for_search = name_match[2]
    #print(name_match)

    

    if(match_case == 'single'):
        NAME_MATCH_FIRST_TRY = name_match[0]
        #print(NAME_MATCH_FIRST_TRY)
        money_thisplayer = AssemblyHelpers.find_money_info_from_name(NAME_MATCH_FIRST_TRY, natl_test, input_year_test, salary_boolean, nullnames_salaries, nullnames_values)

        money_found = money_thisplayer[0]
        search_db_return_case = money_thisplayer[1]
        online_lookup_required = money_thisplayer[2]

        if ((money_found == 0) & (online_lookup_required == True)):         #call the find_money_info_extended once you write it. inputs are = (NAME_MATCH_FIRST_TRY, natl_test, input_year_test, salary_boolean, name_match[2])
            #NEW FUNCTION 1
            if '.' in input_year_test:
                yearstr = input_year_test.split(".")[2]
                full_num = int('20' + yearstr)
            elif '-' in input_year_test:
                if len(input_year_test.split("-")[2]) == 4:
                    yearstr = input_year_test.split("-")[2] #this is a 4 digit number
                    full_num = int(yearstr)
                elif len(input_year_test.split("-")[2]) == 2:
                    if len(input_year_test.split("-")[0]) == 4:
                        yearstr = input_year_test.split("-")[0]
                        full_num = int(yearstr)
                    else:
                        yearstr = input_year_test.split("-")[2] #this is a 2 digit number
                        full_num = int('20' + yearstr)
                else:
                    print('broke on year parsing', input_year_test.split("-"))
                # elif len(input_year_test.split("-")[0]) == 4:
                    # yearstr = input_year_test.split("-")[0]
                    # full_num = yearstr
            
            #print(f'singi trying {NAME_MATCH_FIRST_TRY} and {int('20' + yearstr)}')
            player_bigvalue_dataset = leagues_value_large[(leagues_value_large['Name'] == NAME_MATCH_FIRST_TRY) & (leagues_value_large['Season'] == full_num)].reset_index()
            
            if len(player_bigvalue_dataset) >= 1:
                #print(player_bigvalue_dataset.at[0, 'Market Value'])
                #money_thisplayer[0] =
                #print('working youre good')
                money_thisplayer = [player_bigvalue_dataset.at[0, 'Market Value'], 'Used Large Dataset', False, False]
                if player_bigvalue_dataset.at[0, 'Market Value'] == 0:
                        #money_thisplayer[2] = True
                        money_thisplayer[1] = 'Large Dataset had 0'
            else:
                if len(leagues_value_large[((leagues_value_large['Name'] == NAME_MATCH_FIRST_TRY) & (leagues_value_large['Season'] == full_num - 1)) | 
                                       ((leagues_value_large['Name'] == NAME_MATCH_FIRST_TRY) & (leagues_value_large['Season'] == full_num+ 1))]) >= 2:
                    money_thisplayer = [0, 'Not in either dataset for currect season but present in both seasons around match', False, True]
                    # leagues_value_large[((leagues_value_large['Name'] == NAME_MATCH_FIRST_TRY) & (leagues_value_large['Season'] == full_num - 1)) | 
                    #                    ((leagues_value_large['Name'] == NAME_MATCH_FIRST_TRY) & (leagues_value_large['Season'] == full_num + 1))]['Market Value'].mean()
                else:
                    if ((leagues_value[leagues_value['Name'] == NAME_MATCH_FIRST_TRY]['Season'].max() == (full_num - 1)) & (leagues_value_large[leagues_value_large['Name'] == NAME_MATCH_FIRST_TRY]['Season'].max() == (full_num - 1))):
                        money_last_season = leagues_value[(leagues_value['Name'] == NAME_MATCH_FIRST_TRY) & (leagues_value['Season'] == (full_num - 1))]['Market Value'].max()
                        money_thisplayer = [money_last_season, f'Data Ended before season : {full_num}', False, False]
                    else:
                        money_thisplayer = tryToFindPlayerMoney(search_db_return_case, NAME_MATCH_FIRST_TRY, natl_test, input_year_test, salary_boolean, original_db_name_for_search)
            
        elif(search_db_return_case == 'working'):
            0==0
            #return to the end basically
        elif(search_db_return_case == 'working - imputed'):
            0==0
            #when ur done this should be removed. go into the function find_money_info and remove case
                    
    elif(match_case == 'multiple'):
        print('multi match')

        NAMES_MATCHES_LIST = name_match[0]
        #print('we hear', NAMES_MATCHES_LIST)
        #FILTER THE NAMES USING THE YEAR OF THE MATCH
        NAMES_MATCHES_LIST_CORRECT_SEASON = AssemblyHelpers.filter_candidates_using_year(starter_number, NAMES_MATCHES_LIST, natl_test, input_year_test, salary_boolean)
        #print('we hear now', NAMES_MATCHES_LIST_CORRECT_SEASON)

        NUMBER_OF_NAMES_MATCHING = len(NAMES_MATCHES_LIST_CORRECT_SEASON)
        #print(f'left is {NUMBER_OF_NAMES_MATCHING}')
        
        if(NUMBER_OF_NAMES_MATCHING == 1): #YELLOW 2
            
            
            SINGLE_NAME_MATCH_CORRECT_SEASON = NAMES_MATCHES_LIST_CORRECT_SEASON[0]
            
            money_thisplayer = AssemblyHelpers.find_money_info_from_name(SINGLE_NAME_MATCH_CORRECT_SEASON, natl_test, input_year_test, salary_boolean, nullnames_salaries, nullnames_values) 

            money_found = money_thisplayer[0]
            search_db_return_case = money_thisplayer[1]
            online_lookup_required = money_thisplayer[2]

            if ((money_found == 0) & (online_lookup_required == True)):  
                #NEW FUNCTION 1     
                if '.' in input_year_test:
                    yearstr = input_year_test.split(".")[2]
                    full_num = int('20' + yearstr)
                elif '-' in input_year_test:
                    if len(input_year_test.split("-")[2]) == 4:
                        yearstr = input_year_test.split("-")[2] #this is a 4 digit number
                        full_num = int(yearstr)
                    elif len(input_year_test.split("-")[2]) == 2:
                        if len(input_year_test.split("-")[0]) == 4:
                            yearstr = input_year_test.split("-")[0]
                            full_num = int(yearstr)
                        else:
                            yearstr = input_year_test.split("-")[2] #this is a 2 digit number
                            full_num = int('20' + yearstr)
                    else:
                        print('broke on year parsing', input_year_test.split("-"))
        
                #print(f'multiii trying {SINGLE_NAME_MATCH_CORRECT_SEASON} and {int('20' + yearstr)}')
                player_bigvalue_dataset = leagues_value_large[(leagues_value_large['Name'] == SINGLE_NAME_MATCH_CORRECT_SEASON) & (leagues_value_large['Season'] == full_num)].reset_index()
                
                if len(player_bigvalue_dataset) >= 1:
                    #print(player_bigvalue_dataset.at[0, 'Market Value'])
                    #money_thisplayer[0] =
                    #print('working youre good')
                    money_thisplayer = [player_bigvalue_dataset.at[0, 'Market Value'], 'Used Large Dataset', False, False]
                    if player_bigvalue_dataset.at[0, 'Market Value'] == 0:
                        #money_thisplayer[2] = True
                        money_thisplayer[1] = 'Large Dataset said 0'
                else:
                    if ((leagues_value[leagues_value['Name'] == SINGLE_NAME_MATCH_CORRECT_SEASON]['Season'].max() == (full_num - 1)) & (leagues_value_large[leagues_value_large['Name'] == NAME_MATCH_FIRST_TRY]['Season'].max() == (full_num - 1))):
                        money_last_season = leagues_value[(leagues_value['Name'] == SINGLE_NAME_MATCH_CORRECT_SEASON) & (leagues_value['Season'] == (full_num - 1))]['Market Value'].max()
                        money_thisplayer = [money_last_season, f'Data Ended before season : {full_num}', False, False]
                    else:
                        money_thisplayer = tryToFindPlayerMoney(search_db_return_case, SINGLE_NAME_MATCH_CORRECT_SEASON, natl_test, input_year_test, salary_boolean, original_db_name_for_search)
            elif(search_db_return_case == 'working'):
                0==0
                #return to the end basically
            elif(search_db_return_case == 'working - imputed'):
                0==0
                #when ur done this should be removed. go into the function find_money_info and remove case
            
        elif(NUMBER_OF_NAMES_MATCHING >= 2):
            #use match date to filter 
            #print('list of names is ', NAMES_MATCHES_LIST_CORRECT_SEASON)
            
            filtered_names_match_date = AssemblyHelpers.multiNameMatchDateLookup(NAMES_MATCHES_LIST_CORRECT_SEASON, natl_test, input_year_test) 

            #1 MATCH
            if(type(filtered_names_match_date) == str): #YELLOW 3
                

                NAME_MATCH_SINGLE = filtered_names_match_date
                #print('we hereeeee', NAME_MATCH_SINGLE)
                money_thisplayer = AssemblyHelpers.find_money_info_from_name(NAME_MATCH_SINGLE, natl_test, input_year_test, salary_boolean, nullnames_salaries, nullnames_values) 
                
                money_found = money_thisplayer[0]
                search_db_return_case = money_thisplayer[1]
                online_lookup_required = money_thisplayer[2]

                if ((money_found == 0) & (online_lookup_required == True)):         #call the find_money_info_extended once you write it. inputs are = (NAME_MATCH_FIRST_TRY, natl_test, input_year_test, salary_boolean, name_match[2])
                    # NAME_FOR_SELENIUM_SEARCH = NAME_MATCH_SINGLE
                    # MONEY_FOUND_ONLINE = useSeleniumToFindMoney(NAME_FOR_SELENIUM_SEARCH, natl_test, input_year_test, salary_boolean)
                    # money_thisplayer = [MONEY_FOUND_ONLINE, f'Online WAS Lookup Required - salary boolean is {salary_boolean}', True, False]
                    money_thisplayer = [0, 'Lookup Required', True, False]
                    return money_thisplayer
                    
                elif(search_db_return_case == 'working'):
                    0==0
                    #return to the end basically
                elif(search_db_return_case == 'working - imputed'):
                    0==0
                    #when ur done this should be removed. go into the function find_money_info and remove case


            #MULTIPLE MATCHES
            elif(len(filtered_names_match_date) >= 2): #RED 6
                
                money_thisplayer = [0, F'FILTERING USING MATCH DATE LEFT MULTIPLE RESULTS: {filtered_names_match_date}', True, False]
                #return money_thisplayer, name_match
            #0 MATCHES
            elif(len(filtered_names_match_date) == 0): #RED 5
                money_thisplayer = [0, F'FILTERING USING MATCH DATE LEFT 0 RESULTS. BEFORE FILTERING, CANDIDATE NAMES WERE {NAMES_MATCHES_LIST_CORRECT_SEASON}', True, False]
                #return money_thisplayer, name_match
            
        elif(NUMBER_OF_NAMES_MATCHING == 0):#RETURN CASE 4

            print('here rc4')
            
            money_thisplayer = filter_using_date_of_match(NAMES_MATCHES_LIST, natl_test, input_year_test, salary_boolean) 

    elif(match_case == 'none'):
        #secondmatch_required = True
        #print('ya 1')

        NAME_TO_SEARCH = name_match[2]

        NAME_FOURTH_TRY = AssemblyHelpers.fourth_try_name_search(NAME_TO_SEARCH, natl_test, salary_boolean)

        MATCH_CASE_FOURTH_TRY = NAME_FOURTH_TRY[0]

        if(MATCH_CASE_FOURTH_TRY == 'single'): #YELLOW 1
            NAME_FOUND = NAME_FOURTH_TRY[1]
            money_thisplayer = AssemblyHelpers.find_money_info_from_name(NAME_FOUND, natl_test, input_year_test, salary_boolean, nullnames_salaries, nullnames_values) 

            money_found = money_thisplayer[0]
            search_db_return_case = money_thisplayer[1]
            online_lookup_required = money_thisplayer[2]

            if ((money_found == 0) & (online_lookup_required == True)): #call the find_money_info_extended once you write it. inputs are = (NAME_MATCH_FIRST_TRY, natl_test, input_year_test, salary_boolean, name_match[2])
                if ((leagues_value[leagues_value['Name'] == NAME_FOUND]['Season'].max() == (full_num - 1)) & (leagues_value_large[leagues_value_large['Name'] == NAME_MATCH_FIRST_TRY]['Season'].max() == (full_num - 1))):
                    money_last_season = leagues_value[(leagues_value['Name'] == NAME_FOUND) & (leagues_value['Season'] == (full_num - 1))]['Market Value'].max()
                    money_thisplayer = [money_last_season, f'Data Ended before season : {full_num}', False, False]
                else:
                    money_thisplayer = tryToFindPlayerMoney(search_db_return_case, NAME_MATCH_FIRST_TRY, natl_test, input_year_test, salary_boolean, original_db_name_for_search)
                
            elif(search_db_return_case == 'working'):
                0==0
                #return to the end basically
            elif(search_db_return_case == 'working - imputed'):
                0==0
                #when ur done this should be removed. go into the function find_money_info and remove case

        elif(MATCH_CASE_FOURTH_TRY == 'multiple'):#RED 3

            print('here 4th try')
    
            LIST_TO_FILTER = NAME_FOURTH_TRY[1]
            money_thisplayer = filter_using_date_of_match(LIST_TO_FILTER, natl_test, input_year_test, salary_boolean) 
        
        elif(MATCH_CASE_FOURTH_TRY == 'none'): #SELENIUM
            #print('ya 2')
            original_db_name_for_search = name_match[2]

            accents_removed_name = remove_accents(original_db_name_for_search)
            #print(accents_removed_name)
            equal_names = [name for name in dataset_nationality if name == accents_removed_name]
            #(accents_removed_name in dataset_nationality)

            if equal_names:
                0==0
            else:
            #print
                matching_names = [name for name in dataset_nationality if name.endswith(accents_removed_name)]
                #print('weere here', matching_names)
                if len(matching_names) >= 2:
                    0==0 #more than 1 person remains
                elif len(matching_names) == 1:
                    0==0 #single matching name
                    #print('heylo')
                    money_thisplayer = AssemblyHelpers.find_money_info_from_name(matching_names[0], natl_test, input_year_test, salary_boolean, nullnames_salaries, nullnames_values) 
                else:
                    0==0 #no matches 
                    #print('nerr')
                    # MONEY_FOUND_ONLINE_0 = useSeleniumToFindMoney(original_db_name_for_search, natl_test, input_year_test, salary_boolean)
                    # money_thisplayer = [MONEY_FOUND_ONLINE_0, f'Online WAS Lookup Required - salary boolean is {salary_boolean}', True, False]
                    money_thisplayer = [0, 'Lookup Required', True, False]
    else:
        0==0 #RED 7

    return money_thisplayer, name_match

# Working

In [6]:
#Changing countries_codes - click 1 time at start
data = {'Country': ['British Virgin Islands'], ' Code': ['BVI'], 'Accents Removed': ['British Virgin Islands']}
one_row_dataframe = pd.DataFrame(data)
countries_codes = pd.concat([countries_codes, one_row_dataframe], ignore_index=True)

data = {'Country': ['Tahiti'], ' Code': ['TI'], 'Accents Removed': ['Tahiti']}
one_row_dataframe = pd.DataFrame(data)
countries_codes = pd.concat([countries_codes, one_row_dataframe], ignore_index=True)

countries_codes['Accents Removed'] = countries_codes['Country'].apply(remove_accents)

In [8]:
pd.set_option('display.max_columns', None)
#Dataset names
# leagues_salary - the Player dataset for salaries 
# leagues_value - 
# countries_codes #might be of use on new CONCACAF and CONMEBOL case - near matches 
# fifa_rankings -
# lineups_data
# results_data
# nullnames_salaries
# nullnames_values

#ENGLAND CASE - 1240 - DONE
#CZECH CASE CELUSTA - NEAR THERE - DONE

#fiji assholes - 2654?????

#HONDURAS - 8240, 8241 - done

#IRaq - 2626, DONE

#something - 3940, 3941

#belgium thing - 1640, 1641 excel row is 1649 

#medel  is excel 334 - code is 329, 330
salary_boolean = False
for k in range(1640, 1641): 
    nationality_this = lineups_data.at[k, 'TeamName']
    competition_this = lineups_data.at[k, 'Competition']
    #nationality_this = lineups_data.at[k, 'Match']
    date_this = lineups_data.at[k, 'Date']
    country_code_this = lineups_data.at[k, ' Code']
    print(nationality_this, date_this)
    for i in range(10, 11): #1, 12 # HAZARD IS 10, 11
        
        column = lineups_data.columns[i]
        player_this = lineups_data.at[k, f'{column}']
        if player_this == "5. Keane W.":
            player_this = "5. Keane M." 
        elif player_this == '1. Tomáš':
            player_this = '1. T. Vaclik'
        # Your logic here, replace the print statement with your function
        print(player_this)
        if(player_this) == '-':
            print('nthing here')
        else:
            thisrow_info = (new_overarching(i, player_this, nationality_this, date_this, salary_boolean, competition_this))
            print(thisrow_info)
            if((thisrow_info[0][2] == True) & ((thisrow_info[0][0] == 0)| (thisrow_info[0][0] == 0.0))):
                #print(thisrow_info)
                0==0
                print(player_this, '*********FAIL', thisrow_info)
            else:
                0==0
                print(player_this, 'success', thisrow_info[0][0])
        
#the date i'm looking to match is 6/11/19
#both guys should match

Belgium 11.06.19
10. Hazard
searching for 10. Hazard
search name: Hazard, ft name: ['Hazard']
multi match
inside loop searching. player is Eden Hazard
correct format date is  11/06/19
date obj is  2019-11-06 00:00:00
this is in the regular date loop 11/19/08 2019-11-06 00:00:00
comparing  2008-11-19 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 2/11/09 2019-11-06 00:00:00
comparing  2009-02-11 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 3/28/09 2019-11-06 00:00:00
comparing  2009-03-28 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 4/1/09 2019-11-06 00:00:00
comparing  2009-04-01 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 8/12/09 2019-11-06 00:00:00
comparing  2009-08-12 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 9/5/09 2019-11-06 00:00:00
comparing  2009-09-05 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 9/9/09 2019-11-06 00:00:00
comparing  2009-09-09 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 10/10/09 2019-11-06 00:00:00
comparing  2009-10-10 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 11/14/09 2019-11-06 00:00:00
comparing  2009-11-14 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 11/17/09 2019-11-06 00:00:00
comparing  2009-11-17 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 3/3/10 2019-11-06 00:00:00
comparing  2010-03-03 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 5/19/10 2019-11-06 00:00:00
comparing  2010-05-19 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 8/11/10 2019-11-06 00:00:00
comparing  2010-08-11 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 9/3/10 2019-11-06 00:00:00
comparing  2010-09-03 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 9/7/10 2019-11-06 00:00:00
comparing  2010-09-07 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 10/12/10 2019-11-06 00:00:00
comparing  2010-10-12 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 11/17/10 2019-11-06 00:00:00
comparing  2010-11-17 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 2/9/11 2019-11-06 00:00:00
comparing  2011-02-09 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 3/29/11 2019-11-06 00:00:00
comparing  2011-03-29 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/3/11 2019-11-06 00:00:00
comparing  2011-06-03 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 9/2/11 2019-11-06 00:00:00
comparing  2011-09-02 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 9/6/11 2019-11-06 00:00:00
comparing  2011-09-06 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 10/7/11 2019-11-06 00:00:00
comparing  2011-10-07 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 10/11/11 2019-11-06 00:00:00
comparing  2011-10-11 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 11/15/11 2019-11-06 00:00:00
comparing  2011-11-15 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 2/29/12 2019-11-06 00:00:00
comparing  2012-02-29 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 5/25/12 2019-11-06 00:00:00
comparing  2012-05-25 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/2/12 2019-11-06 00:00:00
comparing  2012-06-02 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 8/15/12 2019-11-06 00:00:00
comparing  2012-08-15 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 9/7/12 2019-11-06 00:00:00
comparing  2012-09-07 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 9/11/12 2019-11-06 00:00:00
comparing  2012-09-11 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 10/12/12 2019-11-06 00:00:00
comparing  2012-10-12 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 10/16/12 2019-11-06 00:00:00
comparing  2012-10-16 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 2/6/13 2019-11-06 00:00:00
comparing  2013-02-06 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 3/22/13 2019-11-06 00:00:00
comparing  2013-03-22 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 3/26/13 2019-11-06 00:00:00
comparing  2013-03-26 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/7/13 2019-11-06 00:00:00
comparing  2013-06-07 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 8/14/13 2019-11-06 00:00:00
comparing  2013-08-14 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 10/11/13 2019-11-06 00:00:00
comparing  2013-10-11 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 10/15/13 2019-11-06 00:00:00
comparing  2013-10-15 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 11/14/13 2019-11-06 00:00:00
comparing  2013-11-14 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 11/19/13 2019-11-06 00:00:00
comparing  2013-11-19 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 3/5/14 2019-11-06 00:00:00
comparing  2014-03-05 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 5/26/14 2019-11-06 00:00:00
comparing  2014-05-26 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/1/14 2019-11-06 00:00:00
comparing  2014-06-01 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/7/14 2019-11-06 00:00:00
comparing  2014-06-07 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/17/14 2019-11-06 00:00:00
comparing  2014-06-17 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/22/14 2019-11-06 00:00:00
comparing  2014-06-22 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/26/14 2019-11-06 00:00:00
comparing  2014-06-26 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 7/1/14 2019-11-06 00:00:00
comparing  2014-07-01 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 7/5/14 2019-11-06 00:00:00
comparing  2014-07-05 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 10/13/14 2019-11-06 00:00:00
comparing  2014-10-13 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 11/12/14 2019-11-06 00:00:00
comparing  2014-11-12 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 11/16/14 2019-11-06 00:00:00
comparing  2014-11-16 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 3/28/15 2019-11-06 00:00:00
comparing  2015-03-28 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 3/31/15 2019-11-06 00:00:00
comparing  2015-03-31 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/7/15 2019-11-06 00:00:00
comparing  2015-06-07 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/12/15 2019-11-06 00:00:00
comparing  2015-06-12 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 9/3/15 2019-11-06 00:00:00
comparing  2015-09-03 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 9/6/15 2019-11-06 00:00:00
comparing  2015-09-06 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 10/10/15 2019-11-06 00:00:00
comparing  2015-10-10 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 10/13/15 2019-11-06 00:00:00
comparing  2015-10-13 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 11/13/15 2019-11-06 00:00:00
comparing  2015-11-13 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 5/28/16 2019-11-06 00:00:00
comparing  2016-05-28 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/1/16 2019-11-06 00:00:00
comparing  2016-06-01 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/5/16 2019-11-06 00:00:00
comparing  2016-06-05 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/13/16 2019-11-06 00:00:00
comparing  2016-06-13 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/18/16 2019-11-06 00:00:00
comparing  2016-06-18 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/22/16 2019-11-06 00:00:00
comparing  2016-06-22 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/26/16 2019-11-06 00:00:00
comparing  2016-06-26 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 7/1/16 2019-11-06 00:00:00
comparing  2016-07-01 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 9/1/16 2019-11-06 00:00:00
comparing  2016-09-01 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 9/6/16 2019-11-06 00:00:00
comparing  2016-09-06 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 10/7/16 2019-11-06 00:00:00
comparing  2016-10-07 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 10/10/16 2019-11-06 00:00:00
comparing  2016-10-10 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 11/9/16 2019-11-06 00:00:00
comparing  2016-11-09 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 11/13/16 2019-11-06 00:00:00
comparing  2016-11-13 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 8/31/17 2019-11-06 00:00:00
comparing  2017-08-31 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 9/3/17 2019-11-06 00:00:00
comparing  2017-09-03 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 10/7/17 2019-11-06 00:00:00
comparing  2017-10-07 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 10/10/17 2019-11-06 00:00:00
comparing  2017-10-10 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 11/10/17 2019-11-06 00:00:00
comparing  2017-11-10 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 3/27/18 2019-11-06 00:00:00
comparing  2018-03-27 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/2/18 2019-11-06 00:00:00
comparing  2018-06-02 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/6/18 2019-11-06 00:00:00
comparing  2018-06-06 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/11/18 2019-11-06 00:00:00
comparing  2018-06-11 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/18/18 2019-11-06 00:00:00
comparing  2018-06-18 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/23/18 2019-11-06 00:00:00
comparing  2018-06-23 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 7/2/18 2019-11-06 00:00:00
comparing  2018-07-02 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 7/6/18 2019-11-06 00:00:00
comparing  2018-07-06 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 7/10/18 2019-11-06 00:00:00
comparing  2018-07-10 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 7/14/18 2019-11-06 00:00:00
comparing  2018-07-14 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 9/7/18 2019-11-06 00:00:00
comparing  2018-09-07 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 9/11/18 2019-11-06 00:00:00
comparing  2018-09-11 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 10/12/18 2019-11-06 00:00:00
comparing  2018-10-12 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 10/16/18 2019-11-06 00:00:00
comparing  2018-10-16 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 11/15/18 2019-11-06 00:00:00
comparing  2018-11-15 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 11/18/18 2019-11-06 00:00:00
comparing  2018-11-18 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 3/21/19 2019-11-06 00:00:00
comparing  2019-03-21 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 3/24/19 2019-11-06 00:00:00
comparing  2019-03-24 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/8/19 2019-11-06 00:00:00
comparing  2019-06-08 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/11/19 2019-11-06 00:00:00
comparing  2019-06-11 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 10/10/19 2019-11-06 00:00:00
comparing  2019-10-10 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 10/13/19 2019-11-06 00:00:00
comparing  2019-10-13 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 11/16/19 2019-11-06 00:00:00
comparing  2019-11-16 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 11/19/19 2019-11-06 00:00:00
comparing  2019-11-19 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/6/21 2019-11-06 00:00:00
comparing  2021-06-06 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/12/21 2019-11-06 00:00:00
comparing  2021-06-12 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/17/21 2019-11-06 00:00:00
comparing  2021-06-17 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/21/21 2019-11-06 00:00:00
comparing  2021-06-21 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/27/21 2019-11-06 00:00:00
comparing  2021-06-27 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 9/2/21 2019-11-06 00:00:00
comparing  2021-09-02 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 9/5/21 2019-11-06 00:00:00
comparing  2021-09-05 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 9/8/21 2019-11-06 00:00:00
comparing  2021-09-08 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 10/7/21 2019-11-06 00:00:00
comparing  2021-10-07 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 11/13/21 2019-11-06 00:00:00
comparing  2021-11-13 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/3/22 2019-11-06 00:00:00
comparing  2022-06-03 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/8/22 2019-11-06 00:00:00
comparing  2022-06-08 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/11/22 2019-11-06 00:00:00
comparing  2022-06-11 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 6/14/22 2019-11-06 00:00:00
comparing  2022-06-14 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 9/22/22 2019-11-06 00:00:00
comparing  2022-09-22 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 9/25/22 2019-11-06 00:00:00
comparing  2022-09-25 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 11/18/22 2019-11-06 00:00:00
comparing  2022-11-18 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 11/23/22 2019-11-06 00:00:00
comparing  2022-11-23 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 11/27/22 2019-11-06 00:00:00
comparing  2022-11-27 00:00:00 2019-11-06 00:00:00
this is in the regular date loop 12/1/22 2019-11-06 00:00:00
comparing  2022-12-01 00:00:00 2019-11-06 00:00:00
switching the day and month does this:  06/11/19
this is in the switched date loop <class 'str'> 11/19/08 2019-11-06 00:00:00
comparing  2008-11-19 00:00:00 2019-11-06 00:00:00
comparing  2008-11-19 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 2/11/09 2019-11-06 00:00:00
comparing  2009-02-11 00:00:00 2019-11-06 00:00:00
comparing  2009-02-11 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 3/28/09 2019-11-06 00:00:00
comparing  2009-03-28 00:00:00 2019-11-06 00:00:00
comparing  2009-03-28 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 4/1/09 2019-11-06 00:00:00
comparing  2009-04-01 00:00:00 2019-11-06 00:00:00
comparing  2009-04-01 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 8/12/09 2019-11-06 00:00:00
comparing  2009-08-12 00:00:00 2019-11-06 00:00:00
comparing  2009-08-12 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 9/5/09 2019-11-06 00:00:00
comparing  2009-09-05 00:00:00 2019-11-06 00:00:00
comparing  2009-09-05 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 9/9/09 2019-11-06 00:00:00
comparing  2009-09-09 00:00:00 2019-11-06 00:00:00
comparing  2009-09-09 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 10/10/09 2019-11-06 00:00:00
comparing  2009-10-10 00:00:00 2019-11-06 00:00:00
comparing  2009-10-10 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 11/14/09 2019-11-06 00:00:00
comparing  2009-11-14 00:00:00 2019-11-06 00:00:00
comparing  2009-11-14 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 11/17/09 2019-11-06 00:00:00
comparing  2009-11-17 00:00:00 2019-11-06 00:00:00
comparing  2009-11-17 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 3/3/10 2019-11-06 00:00:00
comparing  2010-03-03 00:00:00 2019-11-06 00:00:00
comparing  2010-03-03 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 5/19/10 2019-11-06 00:00:00
comparing  2010-05-19 00:00:00 2019-11-06 00:00:00
comparing  2010-05-19 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 8/11/10 2019-11-06 00:00:00
comparing  2010-08-11 00:00:00 2019-11-06 00:00:00
comparing  2010-08-11 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 9/3/10 2019-11-06 00:00:00
comparing  2010-09-03 00:00:00 2019-11-06 00:00:00
comparing  2010-09-03 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 9/7/10 2019-11-06 00:00:00
comparing  2010-09-07 00:00:00 2019-11-06 00:00:00
comparing  2010-09-07 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 10/12/10 2019-11-06 00:00:00
comparing  2010-10-12 00:00:00 2019-11-06 00:00:00
comparing  2010-10-12 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 11/17/10 2019-11-06 00:00:00
comparing  2010-11-17 00:00:00 2019-11-06 00:00:00
comparing  2010-11-17 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 2/9/11 2019-11-06 00:00:00
comparing  2011-02-09 00:00:00 2019-11-06 00:00:00
comparing  2011-02-09 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 3/29/11 2019-11-06 00:00:00
comparing  2011-03-29 00:00:00 2019-11-06 00:00:00
comparing  2011-03-29 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 6/3/11 2019-11-06 00:00:00
comparing  2011-06-03 00:00:00 2019-11-06 00:00:00
comparing  2011-06-03 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 9/2/11 2019-11-06 00:00:00
comparing  2011-09-02 00:00:00 2019-11-06 00:00:00
comparing  2011-09-02 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 9/6/11 2019-11-06 00:00:00
comparing  2011-09-06 00:00:00 2019-11-06 00:00:00
comparing  2011-09-06 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 10/7/11 2019-11-06 00:00:00
comparing  2011-10-07 00:00:00 2019-11-06 00:00:00
comparing  2011-10-07 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 10/11/11 2019-11-06 00:00:00
comparing  2011-10-11 00:00:00 2019-11-06 00:00:00
comparing  2011-10-11 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 11/15/11 2019-11-06 00:00:00
comparing  2011-11-15 00:00:00 2019-11-06 00:00:00
comparing  2011-11-15 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 2/29/12 2019-11-06 00:00:00
comparing  2012-02-29 00:00:00 2019-11-06 00:00:00
comparing  2012-02-29 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 5/25/12 2019-11-06 00:00:00
comparing  2012-05-25 00:00:00 2019-11-06 00:00:00
comparing  2012-05-25 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 6/2/12 2019-11-06 00:00:00
comparing  2012-06-02 00:00:00 2019-11-06 00:00:00
comparing  2012-06-02 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 8/15/12 2019-11-06 00:00:00
comparing  2012-08-15 00:00:00 2019-11-06 00:00:00
comparing  2012-08-15 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 9/7/12 2019-11-06 00:00:00
comparing  2012-09-07 00:00:00 2019-11-06 00:00:00
comparing  2012-09-07 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 9/11/12 2019-11-06 00:00:00
comparing  2012-09-11 00:00:00 2019-11-06 00:00:00
comparing  2012-09-11 00:00:00 2019-11-06 00:00:00
this is in the switched date loop <class 'str'> 10/12/12 2019-11-06 00:00:00

In [43]:
leagues_value_large[leagues_value_large['Name'] == 'Konstantinos Mintikkis']

,Name,Nationality,Position,Market Value,Season,League,Team,Team 1 Code,Birthday,Age,PlayerID,Accents Removed
107709,Konstantinos Mintikkis,Cyprus,Right-Back,200000.0,2014,NaN,Retired,CY,"Jul 14, 1989",25.0,"Konstantinos Mintikkis_Jul 14, 1989_Cyprus",Konstantinos Mintikkis
107710,Konstantinos Mintikkis,Cyprus,Right-Back,350000.0,2018,NaN,Retired,CY,"Jul 14, 1989",29.0,"Konstantinos Mintikkis_Jul 14, 1989_Cyprus",Konstantinos Mintikkis

In [30]:
leagues_value[leagues_value['Name'] == 'Hekuran Kryeziu']

,Unnamed: 0,Name,Nationality,Position,Market Value,Season,Team,Birthday,Age,JerseyNumber,PlayerID,Accents Removed,Team 1 Code
48191,48191,Hekuran Kryeziu,Kosovo,Defensive Midfield,750000.0,2015,FC Luzern,"Feb 12, 1993",22,16,"Hekuran Kryeziu_Feb 12, 1993_Kosovo",Hekuran Kryeziu,XK
48216,48216,Hekuran Kryeziu,Kosovo,Defensive Midfield,1500000.0,2016,FC Luzern,"Feb 12, 1993",23,20,"Hekuran Kryeziu_Feb 12, 1993_Kosovo",Hekuran Kryeziu,XK
48258,48258,Hekuran Kryeziu,Kosovo,Defensive Midfield,1000000.0,2017,FC Luzern,"Feb 12, 1993",24,-,"Hekuran Kryeziu_Feb 12, 1993_Kosovo",Hekuran Kryeziu,XK
48298,48298,Hekuran Kryeziu,Kosovo,Defensive Midfield,1750000.0,2018,FC Zürich,"Feb 12, 1993",25,-,"Hekuran Kryeziu_Feb 12, 1993_Kosovo",Hekuran Kryeziu,XK
48386,48386,Hekuran Kryeziu,Kosovo,Defensive Midfield,800000.0,2020,FC Zürich,"Feb 12, 1993",27,-,"Hekuran Kryeziu_Feb 12, 1993_Kosovo",Hekuran Kryeziu,XK
48488,48488,Hekuran Kryeziu,Kosovo,Defensive Midfield,200000.0,2022,Without Club,"Feb 12, 1993",29,-,"Hekuran Kryeziu_Feb 12, 1993_Kosovo",Hekuran Kryeziu,XK

In [12]:
leagues_value_large[(leagues_value_large['Name'] == 'Kyle Walker') & (leagues_value_large['Season'] == 2019)]

,Name,Nationality,Position,Market Value,Season,League,Team,Team 1 Code,Birthday,Age,PlayerID,Accents Removed
4658,Kyle Walker,England,Right-Back,40000000.0,2019,EPL,Manchester City,EN,"May 28, 1990",30.0,"Kyle Walker_May 28, 1990_England",Kyle Walker

## Decompose name lookups

In [5]:
### OLD - TEST Names for adding accents
#"4 I. Perišić"
#21 G. Kļuškins	
#"5 O. Laizāns"
#7 A. Višņakovs
#20 E. Hallfreðsson
#22 J. Böðvarsson
#"7 A. Žulpa"
#"18 J. Bořil"
#8 E. Vaitkūnas
#"17 M. Mandžukić"
#"3 B. Bereszyński"
#"18 O. Selnæs"
#"20 Ł. Piszczek"
#1 W. Szczęsny
#10 Thiago Alcântara
#"3 A. Jędrzejczyk"
#"5 K. Mączyński"
#"3 A. Toșca"
#"16 S. Plătică"
#"8 João Moutinho"
#"13 P. Hrošovský"
#"6 Wataru Endō"
#"14 Andrei Rațiu"
#"10. Çalhanoğlu"
#"15. O'Dowda"
#"O`Donnell S.G." THIS GUY HAS 2 FIRST INITIALS . 

#"19. Brown J-b."
#"#20. Hudson-Odoi"
#"A. Oxlade-Chamberlain"
#17. Miller M-n
#2. Garcia J-C.
#"3. Băluţă T.C."

#hyphen cases


#input_string = "7 D Maria"
#natltest = 'Scotland'

input_string = "11. Sterling R."


#then this belongs at the start of the word 
#so remove it from the end of the word 

#AFTER ADDING TRAILING INITIALS 



AssemblyHelpers.cyrillic_to_latin(input_string)

#CYRILLIC TESTS

#"13. Джон Д.К."

'11. Sterling R.'

In [7]:
### OLD - refactoring process_String_newest

#REMOVE JERSEY NUM STRING
cleaned_string = re.sub(r'^\d{1,2}[. ]', '', input_string)
tokens = cleaned_string.split()
final_string = ""


#ADD STARTING INITIAL 
if len(tokens) >= 1 and not re.match(r'^[A-Za-zÀ-ÖØ-öø-ÿŁ]{2,}$', tokens[0]):
    initial_match = re.match(r'^([A-Za-zÀ-ÖØ-öø-ÿŁ]+\.)+$|[A-Za-zÀ-ÖØ-öø-ÿŁ]\.$|[A-Za-zÀ-ÖØ-öø-ÿŁ]$', tokens[0])
    if initial_match:
        final_string += initial_match.group()


#CREATE MAIN PHRASE - REQUIRED. 
main_phrase = " ".join(word for word in tokens if len("".join(char for char in word if char.isalpha())) >= 2)
if main_phrase:
    final_string += " " + main_phrase


#ADD END INITIAL 
if len(tokens) >= 2 and not re.match(r'^[A-Za-zÀ-ÖØ-öø-ÿ]{2,}$', tokens[1]):
    end_initial_match = re.match(r'^([A-Za-zÀ-ÖØ-öø-ÿ]+\.)+$|[A-Za-zÀ-ÖØ-öø-ÿ]\.$|[A-Za-zÀ-ÖØ-öø-ÿ]$', tokens[1])
    if end_initial_match:
        final_string = "".join(char for char in end_initial_match.group() if char.isalpha()) + " " + final_string


#ACCOUNT FOR IF LAST INITIAL LONGER THAN 1 LETTER
if len(tokens[-1]) >= 3 and tokens[-1].endswith("."):
    trailing_token_is_long_starting_initial = True
    final_string = final_string.replace(tokens[-1], "")
    final_string = final_string[:-1]

#ACCOUNT FOR HYPHENATED LAST INITIAL OR HYPHENATED NAME

if '-' in tokens[-1]:
    parts = tokens[-1].split('-')
    if len(parts[0]) >= 2 and len(parts[1]) >= 2:
        0==0
    else:
        final_string = tokens[-1] + ' ' + final_string
        tokens_hyphen_case = final_string.split()
        if(tokens_hyphen_case[0] == tokens_hyphen_case[-1]):
            final_string = final_string[:-len(tokens_hyphen_case[-1])].rstrip()
            print(final_string)

#HYPHENATeD First INITIAL OR HYPHENATED NAME
if '-' in tokens[0]:
    parts = tokens[0].split('-')
    if len(parts[0]) >= 2 and len(parts[1]) >= 2:
        0==0
    else:
        final_string = tokens[0] + ' ' + final_string

                                            # Check if the final phrase ends in a period
                                            # if final_string.endswith("."):
                                            #     # Extract the last word, remove the period, and move it to the start of final_string
                                            #     last_word = final_string.split()[-1].rstrip('.')
                                            #     final_string = last_word + " " + final_string

                                            #     # Remove the last word from the end of the string
                                            #     final_string = ' '.join(final_string.split()[:-1])

                                            #     final_string = final_string.strip()

# Separate the final string by " " and remove non-alphabet characters for each token
final_tokens = [re.sub(r'[^A-Za-zÀ-ÖØ-öø-ÿřäáāņļćčšðŽž\'`ūńæŁęúâąșăãýōţțğÇçü-]', '', token) for token in final_string.split()]

                                            # If the first two tokens are the same, remove one token
                                            # if len(final_tokens) >= 2 and final_tokens[0] == final_tokens[1]:
                                            #     final_tokens.pop(0)

if len(final_tokens[0]) >= 2 and final_tokens[0].isupper():
    final_tokens[0] = final_tokens[0][0]


joined_string = " ".join(final_tokens)


joined_string, final_tokens

('R Sterling', ['R', 'Sterling'])

In [14]:
#Testing find closest string
dataset_nationality = leagues_value[(leagues_value['Nationality'] == 'Argentina')]['Name'].unique()
#(leagues_value['Nationality'] == f'Republic of {natltest}')

result = AssemblyHelpers.find_closest_string_newEST(joined_string, dataset_nationality, final_tokens, input_string)

NameError: name 'joined_string' is not defined

#  Debugging

## Overarching Function

In [ ]:
#TEST CASES

##WORK (with WORKING CASES)

#Random other cases
# example_problem = "Saleh Al Shehri" "Fahad Al Muwallad"  "Abdullah Otayf" "Salem Al Dawsari"
# natl_test = 'Saudi Arabia'
# input_year_test = "05.06.21"

In [15]:
search_name, final_tokens_name = AssemblyHelpers.process_string_newest_ii(example_problem, this_competition)
final_tokens_name

added leading initial
added main phrase  Maguire
added end initial  Maguire
last initial longer than 1 letter  Maguire
hyphenated last initial  Maguire
hyphenated first initial  Maguire
process accents, tokens: ['Maguire']
process multiple initials, tokens:  ['Maguire']

['Maguire']

In [22]:
#6. Maguire
#11. Sterling
#20. Hudson-Odoi    
example_problem = '6. Maguire'
natl_test = 'England'
input_year_test = '22.03.19'
this_competition = 'Euros 2020, Qualifiers'

salary_boolean = False
dataset_nationality = leagues_value[leagues_value['Nationality'] == 'England']['Name'].unique()


# search_name = 'Maguire'
# final_tokens_name = ['Maguire']

AssemblyHelpers.find_closest_string_newEST(search_name, dataset_nationality, final_tokens_name, example_problem)

['Harry Maguire']

In [ ]:
first, second = new_overarching(example_problem, natl_test, input_year_test, salary_boolean)

In [ ]:
first, second
#AssemblyHelpers.lookup_name(example_problem, natl_test, input_year_test, salary_boolean)

In [ ]:
#WORKING TEST CASES

# example_problem = "Ahmed Abdul Wahid" 
# natl_test = 'Yemen'
# input_year_test = "05.06.21"

# example_problem = "6. J. Seri"
# natl_test = 'Cote d\'Ivoire'
# input_year_test = '17.11.15'

# example_problem = '19 B. Traoré'
# natl_test = 'Burkina Faso'
# input_year_test = "07.10.16"

# example_problem = '6. Lovren'
# natl_test = 'Croatia'
# input_year_test = '08.06.19'

# example_problem = "17 A. Baba"
# natl_test = "Ghana" 
# input_year_test = "07.10.16"

# example_problem = "17. N'Diaye M."
# natl_test = 'Mali'
# input_year_test = '17.01.17'

#CASE WHERE THERE WERE POINTS ABOVE LAST X AXIS TICKMARK
# example_problem = "Salman Al Faraj"
# natl_test = 'Saudi Arabia'
# input_year_test = "05.06.21"

#HAD ISSUES WITH THE GRAPH
# example_problem = "Mohammed Boqshan"
# natl_test = 'Yemen'
# input_year_test = "05.06.21"

# example_problem = "9. Zelarayan"
# natl_test = 'Armenia'
# input_year_test = "08.10.21"

#REQUIRES THAT EXTRA SEARCH WITH ALL THE LINKS
# example_problem = "5. Ala Addin Mahdi"
# natl_test = 'Yemen'
# input_year_test = "05.06.21"

#MARKET VALUE GRAPH IS NULL CASE #2
# example_problem = "Kum-Chol Ri"
# natl_test = 'Korea DPR'
# input_year_test = "13.10.2015"

#MARKET VALUE GRAPH IS NULL CASE #3
# example_problem = "Saddam Hussain"
# natl_test = 'Pakistan'
# input_year_test = "12.03.2015"

#GAVE A MANAGER URL ON FIRST LOOK
# example_problem = "S. Djeparov"
# natl_test = 'Uzbekistan'
# input_year_test = "03-09-2015"

#MARKET VALUE OVER 365 DAYS OUT CASE
# example_problem = "Mahmoud Abu Warda"
# natl_test = 'Palestine'
# input_year_test = "14-11-2019"

#CASE WHERE YOU NEEDED DIV[2] NOT DIV[3] TO FIND ELEMENTS
# example_problem = "Mudir Al Radaei"
# natl_test = 'Yemen'
# input_year_test = "05.06.21" # he also played "24-03-2016"

##Had a null transfermarkt page, had to pursue Lovren case solution where looked for names. 
##Actually found none. impute required from here
# example_problem = "Husain Ali Pele"
# natl_test = 'Bahrain'
# input_year_test = "08.10.15"

# example_problem = "Manaf Saeed" #"Emad Mansoor"
# natl_test = 'Yemen'
# input_year_test = "05.06.21"

In [ ]:
#CASES TO REVISIT

##SEE NOTES IN NOTION 
# example_problem = "Hesham Nayem"
# natl_test = 'Bahrain'
# input_year_test = "24.03.16"

# OLD TEST CASES

In [ ]:
# OLD CASES


# example_problem = "6. J. Seri"
# natl_test = 'Cote d\'Ivoire'
# input_year_test = '17.11.15'

# example_problem = '19 B. Traoré'
# natl_test = 'Burkina Faso'
# input_year_test = "07.10.16"

# example_problem = '6. Lovren'
# natl_test = 'Croatia'
# input_year_test = '08.06.19'

# example_problem = "17 A. Baba"
# natl_test = "Ghana" 
# input_year_test = "07.10.16"

# example_problem = "17. N'Diaye M."
# natl_test = 'Mali'
# input_year_test = '17.01.17'

#CASE WHERE THERE WERE POINTS ABOVE LAST X AXIS TICKMARK
# example_problem = "Salman Al Faraj"
# natl_test = 'Saudi Arabia'
# input_year_test = "05.06.21"

#HAD ISSUES WITH THE GRAPH
# example_problem = "Mohammed Boqshan"
# natl_test = 'Yemen'
# input_year_test = "05.06.21"

# example_problem = "9. Zelarayan"
# natl_test = 'Armenia'
# input_year_test = "08.10.21"

#REQUIRES THAT EXTRA SEARCH WITH ALL THE LINKS
# example_problem = "5. Ala Addin Mahdi"
# natl_test = 'Yemen'
# input_year_test = "05.06.21"

##Had a null transfermarkt page, had to pursue Lovren case solution where looked for names. 
##Actually found none. impute required from here
# example_problem = "Husain Ali Pele"
# natl_test = 'Bahrain'
# input_year_test = "08.10.15"

#MARKET VALUE GRAPH IS NULL CASE #1
# example_problem = "Hesham Nayem"
# natl_test = 'Bahrain'
# input_year_test = "24.03.16"

#MARKET VALUE GRAPH IS NULL CASE #2
# example_problem = "Kum-Chol Ri"
# natl_test = 'Korea DPR'
# input_year_test = "13.10.2015"

#MARKET VALUE GRAPH IS NULL CASE #3
# example_problem = "Saddam Hussain"
# natl_test = 'Pakistan'
# input_year_test = "12.03.2015"

#GAVE A MANAGER URL ON FIRST LOOK
# example_problem = "S. Djeparov"
# natl_test = 'Uzbekistan'
# input_year_test = "03-09-2015"

#MARKET VALUE OVER 365 DAYS OUT CASE
# example_problem = "Mahmoud Abu Warda"
# natl_test = 'Palestine'
# input_year_test = "14-11-2019"


#CASE WHERE YOU NEEDED DIV[2] NOT DIV[3] TO FIND ELEMENTS
# example_problem = "Mudir Al Radaei"
# natl_test = 'Yemen'
# input_year_test = "24-03-2016" # he also played "05.06.21" 

#MARKET VALUE OUT OF RANGE OF GAME (over 365 days away)
# example_problem = "Mudir Al Radaei"
# natl_test = 'Yemen'
# input_year_test = "05.06.21" # he played on "05.06.21" #and 24-03-2016



#Random other cases
# example_problem = "Saleh Al Shehri" "Fahad Al Muwallad"  "Abdullah Otayf" "Salem Al Dawsari"
# natl_test = 'Saudi Arabia'
# input_year_test = "05.06.21"

In [ ]:
#MORE TEST CASES 

#WORKING - 1 CALL TO FIND CLOSEST STRING
# example_problem = "10. Mane Sa."
# natl_test = 'Senegal'
# input_year_test = "19.06.18"

#WORKING - 1 CALL TO FIND CLOSEST STRING
# example_problem = "9. Son Heungmin"
# natl_test = 'South Korea'
# input_year_test = '17.01.17'

#WORKING - 1 CALL TO FIND CLOSEST STRING
# example_problem = "13. Koo Jacheol"
# natl_test = 'South Korea'
# input_year_test = '26.06.14'

#WORKING - 1 CALL TO FIND CLOSEST STRING
# example_problem = "17. Sarr P."
# natl_test = 'Senegal'
# input_year_test = "04.12.22"

#WORKING - 1 CALL TO FIND CLOSEST STRING
# example_problem = '4. Torres Pau'
# natl_test = 'Spain'
# input_year_test = "14.11.21"

#WORKING - 1 CALL TO FIND CLOSEST STRING
# example_problem = "6 Sane S."
# natl_test = 'Senegal'
# input_year_test = '19.06.18'

#WORKING - 1 CALL TO FIND CLOSEST STRING
# example_problem = '11 A Kolarov'
# natl_test = 'Serbia'
# input_year_test = '15.10.13'

#WORKING - 1 CALL TO FIND CLOSEST STRING
# example_problem = "22. Wague M." 
# natl_test = "Senegal"
# input_year_test = "24.06.18"

#WORKING - 1 CALL TO FIND CLOSEST STRING
# example_problem = "17. Badou Ndiaye"
# natl_test = "Senegal"
# input_year_test = "28.01.17"

#WORKING - 1 CALL TO FIND CLOSEST STRING
# example_problem = "8. Sylla Y." 
# natl_test = 'Mali'
# input_year_test = "17.01.17"

#WORKING - 1 CALL TO FIND CLOSEST STRING
# example_problem = "6. Krejčí L. II."
# natl_test = 'Czech Republic'
# input_year_test = '02.06.22'

#WORKING - 2 CALLs TO FIND CLOSEST STRING (accent case)
# example_problem = "6. Saiss"
# natl_test = 'Morocco'
# input_year_test = "30.01.22"


#WORKING - 3 CALLS FIND CLOSEST STRING (backtick case)
# example_problem = "9. Eto`o"
# natl_test = 'Cameroon'
# input_year_test = '13.06.14'


#WORKING - 1 CALL TO FIND CLOSEST STRING
# example_problem = "13. A. N`Diaye"
# natl_test = 'Senegal'
# input_year_test = "14.11.2017"


###WORKING - 3 CALLS TO FIND CLOSEST STRING, 1 MORE TO NEW FUNCTION
# example_problem = "17 A. Baba"
# natl_test = "Ghana" 
# input_year_test = "07.10.16"