In [1]:
import pandas as pd

def load_csv_dataset(file_path):
    return pd.read_csv(file_path)

In [2]:
combined_DF = load_csv_dataset('combined_DF_may_20.csv')

/var/folders/vw/z2xv57_n70l_szw_fr80j5km0000gn/T/ipykernel_28113/3911487331.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(file_path)

In [3]:
combined_DF['Status'].value_counts()

Status
SUCCESS    117018
Name: count, dtype: int64

### OLD PREP WORK - DONE

In [153]:
match_ID_DF = combined_DF.groupby(['Match ID', 'Nationality']).size().reset_index(name='Count')
match_ID_DF[match_ID_DF['Count'] == 11]

                                   Match ID   Nationality  Count
0       Africa Cup of Nations, Qualifiers_0  South Africa     11
1       Africa Cup of Nations, Qualifiers_0         Sudan     11
2       Africa Cup of Nations, Qualifiers_1         Congo     11
3       Africa Cup of Nations, Qualifiers_1       Nigeria     11
4      Africa Cup of Nations, Qualifiers_10       Nigeria     11
...                                     ...           ...    ...
10659                          World Cup_97        France     11
10660                          World Cup_98     Argentina     11
10661                          World Cup_98       Iceland     11
10662                          World Cup_99       Croatia     11
10663                          World Cup_99       Nigeria     11

[10664 rows x 3 columns]

In [166]:
match_id_list = combined_DF['Match ID'].unique()
sanitycounter = 0
match_IDs_countries_dict = {}
for this_matcH_id in match_id_list:
    match_countries = combined_DF[combined_DF['Match ID'] == this_matcH_id]['Nationality'].unique()
    if len(match_countries) == 2:
        match_IDs_countries_dict[this_matcH_id] = match_countries
        sanitycounter += 1

print(sanitycounter)

5320

In [167]:
matches_null_rows_dict = {}
for key in match_IDs_countries_dict.keys():
    this_match = combined_DF[(combined_DF['Match ID'] == key)]
    countries_this_game = this_match['Nationality'].unique()
    for country in countries_this_game:
        match_data_this_country = this_match[this_match['Nationality'] == country]
        nulls_this_country_this_game = match_data_this_country[match_data_this_country['Status'] == 'FAIL - EMPTY']
        if len(nulls_this_country_this_game) != 0:
            correct_key = f"{key}***{country}"
            matches_null_rows_dict[correct_key] = len(nulls_this_country_this_game)
            print(key, country, len(nulls_this_country_this_game))

World Cup Qualifiers, Africa_111 Libya 4
Africa Cup of Nations, Qualifiers_159 Benin 1
Africa Cup of Nations, Qualifiers_159 Equatorial Guinea 1
Africa Cup of Nations, Qualifiers_188 São Tomé and Príncipe 2
Africa Cup of Nations, Qualifiers_219 Sierra Leone 2
Africa Cup of Nations, Qualifiers_258 Swaziland 10

In [169]:
matches_null_rows_df = pd.DataFrame()
for key in matches_null_rows_dict:
    match_ID = key.split('***')[0]
    country = key.split('***')[1]
    #print(match_ID, country, matches_null_rows_dict[key])
    matchup = combined_DF[combined_DF['Match ID'] == match_ID]['Match'].unique()[0]
    date = combined_DF[combined_DF['Match ID'] == match_ID]['Date'].unique()[0]
    new_row = {
        'match ID': match_ID,
        'country': country,
        '# nulls': matches_null_rows_dict[key],
        'matchup': matchup,
        'date': date
    }
    matches_null_rows_df = pd.concat([matches_null_rows_df, pd.DataFrame([new_row])], ignore_index=True)
matches_null_rows_df['Null Match?'] = False
# Loop through each row to check and update the 'Null Match?' column
for index, row in matches_null_rows_df.iterrows():
    match_id = row['match ID']
    filtered_df = matches_null_rows_df[matches_null_rows_df['match ID'] == match_id]
    
    if len(filtered_df) == 2 and filtered_df['# nulls'].sum() == 22:
        matches_null_rows_df.loc[matches_null_rows_df['match ID'] == match_id, 'Null Match?'] = True
matches_null_rows_df[matches_null_rows_df['Null Match?'] != True]#['match ID'].unique()

,match ID,country,# nulls,matchup,date,Null Match?
0,"World Cup Qualifiers, Africa_111",Libya,4,DR Congo vs Libya,2013-03-24,False
1,"Africa Cup of Nations, Qualifiers_159",Benin,1,Benin vs Equat. Guinea,2016-06-12,False
2,"Africa Cup of Nations, Qualifiers_159",Equatorial Guinea,1,Benin vs Equat. Guinea,2016-06-12,False
3,"Africa Cup of Nations, Qualifiers_188",São Tomé and Príncipe,2,São Tomé and P. vs Morocco,2015-09-05,False
4,"Africa Cup of Nations, Qualifiers_219",Sierra Leone,2,Sudan vs Sierra Leone,2015-06-14,False
5,"Africa Cup of Nations, Qualifiers_258",Swaziland,10,Swaziland vs Guinea,2016-06-05,False

In [91]:
combined_DF.at[44, 'ORIGINAL JERSEY'] = 'Sayed Mohammed Jaffer'
combined_DF.at[44, 'Status'] = 'POSSIBLE'
combined_DF.at[45, 'ORIGINAL JERSEY'] = 'Dawood Saad'
combined_DF.at[45, 'Status'] = 'POSSIBLE'
combined_DF.at[46, 'ORIGINAL JERSEY'] = 'Husain Ali Baba'
combined_DF.at[46, 'Status'] = 'POSSIBLE'
combined_DF.at[47, 'ORIGINAL JERSEY'] = 'Saleh Abdulhameed'
combined_DF.at[47, 'Status'] = 'POSSIBLE'

combined_DF.at[48, 'ORIGINAL JERSEY'] = 'Mohammed Husain'
combined_DF.at[48, 'Status'] = 'POSSIBLE'

combined_DF.at[49, 'ORIGINAL JERSEY'] = 'Faouzi Aaish'
combined_DF.at[49, 'Status'] = 'POSSIBLE'

combined_DF.at[50, 'ORIGINAL JERSEY'] = 'Hamad Rakea'
combined_DF.at[50, 'Status'] = 'POSSIBLE'

combined_DF.at[51, 'ORIGINAL JERSEY'] = 'Sayed Ebrahim'
combined_DF.at[51, 'Status'] = 'POSSIBLE'

combined_DF.at[52, 'ORIGINAL JERSEY'] = 'Abdulwahab Al-Safi'
combined_DF.at[52, 'Status'] = 'POSSIBLE'

combined_DF.at[53, 'ORIGINAL JERSEY'] = 'Mohammed Al-Tayeb'
combined_DF.at[53, 'Status'] = 'POSSIBLE'

combined_DF.at[54, 'ORIGINAL JERSEY'] = 'Ismail Abdullatif'
combined_DF.at[54, 'Status'] = 'POSSIBLE'

combined_DF.at[55, 'ORIGINAL JERSEY'] = 'Faisal Jasim'
combined_DF.at[55, 'Status'] = 'POSSIBLE'

combined_DF.at[122, 'ORIGINAL JERSEY'] = 'Mohammed Ayash'
combined_DF.at[122, 'Status'] = 'POSSIBLE'

combined_DF.at[123, 'ORIGINAL JERSEY'] = 'Hamada Al-Zubairi'
combined_DF.at[123, 'Status'] = 'POSSIBLE'

combined_DF.at[124, 'ORIGINAL JERSEY'] = 'Mohammed Boqshan'
combined_DF.at[124, 'Status'] = 'POSSIBLE'

combined_DF.at[125, 'ORIGINAL JERSEY'] = 'Ammar Hamsan'
combined_DF.at[125, 'Status'] = 'POSSIBLE'

combined_DF.at[126, 'ORIGINAL JERSEY'] = 'Alaa Noman'
combined_DF.at[126, 'Status'] = 'POSSIBLE'

combined_DF.at[127, 'ORIGINAL JERSEY'] = 'Ahmed Al-Haifi'
combined_DF.at[127, 'Status'] = 'POSSIBLE'

combined_DF.at[128, 'ORIGINAL JERSEY'] = 'Abdulwasea Al-Matari'
combined_DF.at[128, 'Status'] = 'POSSIBLE'

combined_DF.at[129, 'ORIGINAL JERSEY'] = 'Ahmed Alos'
combined_DF.at[129, 'Status'] = 'POSSIBLE'

combined_DF.at[130, 'ORIGINAL JERSEY'] = 'Alaa Al-Sasi'
combined_DF.at[130, 'Status'] = 'POSSIBLE'

combined_DF.at[131, 'ORIGINAL JERSEY'] = 'Emad Mansoor'
combined_DF.at[131, 'Status'] = 'POSSIBLE'

combined_DF.at[132, 'ORIGINAL JERSEY'] = 'Hesham Nayem'
combined_DF.at[132, 'Status'] = 'POSSIBLE'
combined_DF.at[133, 'ORIGINAL JERSEY'] = 'Mohammed Husain'
combined_DF.at[133, 'Status'] = 'POSSIBLE'
combined_DF.at[134, 'ORIGINAL JERSEY'] = 'Sayed Dhiya Saeed'
combined_DF.at[134, 'Status'] = 'POSSIBLE'
combined_DF.at[135, 'ORIGINAL JERSEY'] = 'Abdulwahab Al-Safi'
combined_DF.at[135, 'Status'] = 'POSSIBLE'
combined_DF.at[136, 'ORIGINAL JERSEY'] = 'Abdulwahab Al-Malood'
combined_DF.at[136, 'Status'] = 'POSSIBLE'
combined_DF.at[137, 'ORIGINAL JERSEY'] = 'Ismail Abdullatif'
combined_DF.at[137, 'Status'] = 'POSSIBLE'

combined_DF.at[208, 'ORIGINAL JERSEY'] = 'Lourenço'
combined_DF.at[208, 'Status'] = 'POSSIBLE'
combined_DF.at[209, 'ORIGINAL JERSEY'] = 'Carlinhos'
combined_DF.at[209, 'Status'] = 'POSSIBLE'

combined_DF.at[210, 'ORIGINAL JERSEY'] = 'Mario Bakary'
combined_DF.at[210, 'Status'] = 'POSSIBLE'
combined_DF.at[211, 'ORIGINAL JERSEY'] = 'Yasser Radahy'
combined_DF.at[211, 'Name'] = 'Yasser Radahy'
combined_DF.at[211, 'Name(s) Found'] = 'Yasser Radahy'

combined_DF.at[211, 'Status'] = 'SUCCESS'
combined_DF.at[211, 'Lookup Return Case'] = 'Found in Curr Season'
combined_DF.at[211, 'Market Value'] = 0
combined_DF.at[211, 'Lookup Still Required?'] = False

combined_DF.at[212, 'ORIGINAL JERSEY'] = 'Bernard Agele'
combined_DF.at[212, 'Status'] = 'POSSIBLE'
combined_DF.at[213, 'ORIGINAL JERSEY'] = 'Robert Wurube'
combined_DF.at[213, 'Status'] = 'POSSIBLE'
combined_DF.at[214, 'ORIGINAL JERSEY'] = 'Edmond Amadeo'
combined_DF.at[214, 'Status'] = 'POSSIBLE'
combined_DF.at[214, 'Status'] = 'SUCCESS'
combined_DF.at[214, 'Lookup Return Case'] = 'Found in Curr Season'
combined_DF.at[214, 'Market Value'] = 0
combined_DF.at[214, 'Lookup Still Required?'] = False

combined_DF.at[217, 'ORIGINAL JERSEY'] = 'Lubari Lubari Zarambi'
combined_DF.at[217, 'Status'] = 'SUCCESS'
combined_DF.at[217, 'Lookup Return Case'] = 'Found in Curr Season'
combined_DF.at[217, 'Market Value'] = 0
combined_DF.at[217, 'Lookup Still Required?'] = False

combined_DF.at[218, 'ORIGINAL JERSEY'] = 'Samuel Tombe Columbano'
combined_DF.at[218, 'Status'] = 'POSSIBLE'

combined_DF.at[223, 'ORIGINAL JERSEY'] = 'Yac Diori'
combined_DF.at[223, 'Status'] = 'POSSIBLE'

combined_DF.at[224, 'ORIGINAL JERSEY'] = 'Joseph Kamwendo'
combined_DF.at[224, 'Status'] = 'POSSIBLE'

combined_DF.at[225, 'ORIGINAL JERSEY'] = 'Peter Wadabwa'
combined_DF.at[225, 'Status'] = 'POSSIBLE'

combined_DF.at[226, 'ORIGINAL JERSEY'] = 'Chiukepo Msowoya'
combined_DF.at[226, 'Status'] = 'POSSIBLE'

combined_DF.at[227, 'ORIGINAL JERSEY'] = 'Harry Nyirenda'
combined_DF.at[227, 'Status'] = 'POSSIBLE'

combined_DF.at[228, 'ORIGINAL JERSEY'] = 'Charles Swini'
combined_DF.at[228, 'Status'] = 'POSSIBLE'

combined_DF.at[229, 'ORIGINAL JERSEY'] = 'John Banda'
combined_DF.at[229, 'Status'] = 'POSSIBLE'

combined_DF.at[230, 'ORIGINAL JERSEY'] = 'John Lanjesi'
combined_DF.at[230, 'Status'] = 'POSSIBLE'

combined_DF.at[231, 'ORIGINAL JERSEY'] = 'Francis Mulimbika'
combined_DF.at[231, 'Status'] = 'POSSIBLE'

combined_DF.at[232, 'ORIGINAL JERSEY'] = 'Stanley Sanudi'
combined_DF.at[232, 'Status'] = 'POSSIBLE'

combined_DF.at[233, 'ORIGINAL JERSEY'] = 'Foster Namwera'
combined_DF.at[233, 'Status'] = 'SUCCESS'
combined_DF.at[233, 'Lookup Return Case'] = 'Found in Curr Season'
combined_DF.at[233, 'Market Value'] = 0
combined_DF.at[233, 'Lookup Still Required?'] = False

combined_DF.at[234, 'ORIGINAL JERSEY'] = 'Wonderful Jeremani'
combined_DF.at[234, 'Status'] = 'SUCCESS'
combined_DF.at[234, 'Lookup Return Case'] = 'Found in Curr Season'
combined_DF.at[234, 'Market Value'] = 0
combined_DF.at[234, 'Lookup Still Required?'] = False

In [164]:
combined_DF = combined_DF[combined_DF['Match ID'] != 'Nations League_184']
combined_DF = combined_DF[combined_DF['Match ID'] != 'Nations League_195']
combined_DF = combined_DF[combined_DF['Match ID'] != 'World Cup Qualifiers, Asia_274']
combined_DF = combined_DF[combined_DF['Match ID'] != 'World Cup Qualifiers, Asia_277']
combined_DF = combined_DF[combined_DF['Match ID'] != 'World Cup Qualifiers, Asia_278']
combined_DF = combined_DF[combined_DF['Match ID'] != 'World Cup Qualifiers, Asia_597']
combined_DF = combined_DF[combined_DF['Match ID'] != 'Africa Cup of Nations, Qualifiers_23']
combined_DF = combined_DF[combined_DF['Match ID'] != 'Africa Cup of Nations, Qualifiers_84']
combined_DF = combined_DF[combined_DF['Match ID'] != 'Africa Cup of Nations, Qualifiers_427']
combined_DF = combined_DF[combined_DF['Match ID'] != 'Africa Cup of Nations, Qualifiers_430']
combined_DF = combined_DF[combined_DF['Match ID'] != 'Africa Cup of Nations, Qualifiers_707']
combined_DF = combined_DF[combined_DF['Match ID'] != 'Africa Cup of Nations, Qualifiers_709']

len(combined_DF['Match ID'].unique())
#we're expecting 5320

5320

In [170]:
combined_DF.to_csv('combined_DF_may_20.csv')

In [ ]:
#failed ones - no lineups out there better than TM 

# DR Congo vs Libya	2013-03-24 - missing 4 from Libya 
# Benin vs Equat. Guinea	2016-06-12	- missing 1 from Benin, and 1 from EQ Guinea
#São Tomé and P. vs Morocco	2015-09-05 - missing 2 from Sao Tome 
#Sudan vs Sierra Leone	2015-06-14 - missing 2 from Sierra Leone
#Swaziland vs Guinea	2016-06-05 - missing 10 from Swaziland

#these will be partial lineups bascially

In [ ]:
#MATCHES THAT R JUST ALL EMPTY 
    #Nations League_184 – entire match is null rows
    #Nations League_195 - entire match is null rows 
    #World Cup Qualifiers, Asia_274 – entire match is null rows
    #World Cup Qualifiers, Asia_277 – entire match is null rows
    #World Cup Qualifiers, Asia_278 – entire match is null rows
    #World Cup Qualifiers, Asia_597 – entire match is null rows
    #Africa Cup of Nations, Qualifiers_707 – entire match is null rows

    
    #World Cup Qualifiers, Asia_295 - the entirety of the Yemen team is missing bar 1 guy

#in order to check how many matches are entirely null 

    #loop throguh all of the match IDs, and filter the combined DF for them. then count the number of "FAIL - EMPTY" rows

    #World Cup Qualifiers, Africa_111 was 4 missing for libya

### may 20 prep work

In [27]:
for index, row in combined_DF.iterrows():
    if pd.isna(row['Name']):
        combined_DF.at[index, 'Name'] = combined_DF.at[index, 'ORIGINAL JERSEY']

In [9]:
grouped = combined_DF.groupby(['Match ID', 'Nationality'])

# Iterate over the groups
for (match_ID, country), group in grouped:
    if len(group) != 11:
        print(match_ID, country)

In [34]:
for index, row in combined_DF.iterrows():
    if row['Market Value'] == '-':
        combined_DF.at[index, 'Market Value'] = 0

In [64]:
combined_DF['Market Value New'] = -1

In [65]:
counter = 0
for index,row in combined_DF.iterrows():
    if type(row['Market Value'] == str):
        counter += 1
        number_version = round(float(row['Market Value']))
        combined_DF.at[index, 'Market Value New'] = number_version
        #print(number_version)
print(counter)

117018

In [67]:
#combined_DF = combined_DF.drop(columns={'Unnamed: 0'})
#combined_DF = combined_DF.drop(columns={'Match Case', 'Impute Required?'})
#combined_DF = combined_DF.drop(columns={'Status'})
#combined_DF = combined_DF.drop(columns={'Name'})

combined_DF.to_csv('most_updated_combined_DF_may_20.csv')

### May 20 - combine data into big dataset 2

In [81]:
most_updated_combined_DF_may_20 = load_csv_dataset('most_updated_combined_DF_may_20.csv')

In [117]:
match_dataset_1 = pd.DataFrame()

In [118]:
for match_ID in most_updated_combined_DF_may_20['Match ID'].unique():
# match_ID = 'World Cup Qualifiers, Asia_95'
    this_match_countries = most_updated_combined_DF_may_20[most_updated_combined_DF_may_20['Match ID'] == match_ID]['Nationality'].unique()
    for country in this_match_countries:
        data_this_game_this_country = most_updated_combined_DF_may_20[(most_updated_combined_DF_may_20['Match ID'] == match_ID) & (most_updated_combined_DF_may_20['Nationality'] == country)]
        if len(data_this_game_this_country) == 11:
            list_of_names = list(data_this_game_this_country['Name(s) Found'])
            list_of_values = list(data_this_game_this_country['Market Value New'])
            tot_value = data_this_game_this_country['Market Value New'].sum()

            new_row = {
                'Match ID': match_ID,
                'Country': country,
                'Match': data_this_game_this_country['Match'].unique()[0],
                'Date': data_this_game_this_country['Date'].unique()[0],
                'Season': data_this_game_this_country['Season'].unique()[0],
                'Team Code': data_this_game_this_country['Team Country Code'].unique()[0],
                'Team Total MV': tot_value,
                'Player List': list_of_names,
                'Values List': list_of_values
            }
            new_row_df = pd.DataFrame([new_row])
            match_dataset_1 = pd.concat([match_dataset_1, new_row_df], ignore_index=True)

In [123]:
match_dataset_1.to_csv('match_dataset_1.csv')

In [ ]:
#5319 matches
#10638 rows expected